@charset "UTF-8";


.jingqu {
    margin-bottom: 70px;
}

.jingqu .jingqu-title{
    height: 70px;
    font-size: 16px;
    line-height: 70px;

}
.jingqu .jingqu-title a{
    text-decoration: none;
    font-size: 16px;
    color: #666666;
}
.jingqu .jingqu-title a:hover{
    color: #027cc3;
}


/*景点详情*/
.jingqu .jingqu-list{
    width: 1140px;
    height: 220px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
}
.jingqu .jingqu-list img {
    width: 290px;
    height: 193px;
}

/*.jingqu .jingqu-list .jingqu-list-news{
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}*/

.jingqu .jingqu-list .list-content{
    width: 800px;
    margin-left: 16px;
}
.jingqu .jingqu-list .list-content .list-name{
    margin-top: 16px;

}

.jingqu .jingqu-list .list-content .list-tit{
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
}
.jingqu .jingqu-list .list-content .list-jia{

    margin-left: 20px;
    color: #f57b00;
    font-size: 14px;

}
/*等级*/
.jingqu .jingqu-list .list-content .dengji{
    font-size: 14px;
    margin-top: 16px;

}
.jingqu .jingqu-list .list-content .list-words{
    width: 800px;
    height: 40px;
    text-decoration: none;
    font-family: Microsoft Yahei;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.jingqu .jingqu-list .list-content .list-words a{
    color: #027bc4;

}
.jingqu .jingqu-list .list-content .list-buy{
    width: 170px;
    height: 30px;
    float: right;
    margin-top: 32px;

}
.jingqu .jingqu-list .list-content .list-buy i{
 margin-top: 8px;
    color: #dcdcdc;
}
.jingqu .jingqu-list .list-content .list-buy a{
    float:right;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #f57e00;
    color: #ffffff;
}


.jingqu .jingqu-list .list-content  .dd{
    width:380px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*酒店页面*/

.jiudian-search {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    line-height: 70px;
    border: 1px solid #eeeeee;
    background-color: #f9f9f9;
}
.jiudian-search .form-control1{

}
.jiudian-search .form-control1 .shangpin-label{
    margin-right: 12px;
    margin-left: 26px;

}
.jiudian-search .form-control1 .form-unit{
    width: 200px;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #dddddd;
}
.jiudian-search .form-control1 .shangpin_seaech{
      width: 180px;
      height: 36px;
      padding-left: 10px;
      margin-left: 20px;
      border: 1px solid #dddddd;
  }

.jiudian-search .form-control1 .shangpin-chang{
    width: 180px;
    height: 36px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #dddddd;
}
.jiudian-search .form-control1 .searchbutton{
    width: 70px;
    height: 36px;
    margin-left: 80px;
    line-height: 36px;
    background-color: #f57e00;
    color: #fff;
}

.jiudian-shunxu{
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
}
.jiudian-shunxu .shunxu-lis{
    float: left;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-right:1px solid #eeeeee ;
    cursor: pointer;
}

.jiudian-shunxu .shunxu-lis span{
    margin-left: 3px;
}
.jiudian-shunxu .nav-pills .active{
    border-top: 2px solid #2c88b9;
}

/*酒店列表内容*/




.jingqu-list .list-content .list-name .jiudian-lei{
    margin-left: 20px;

}

.jingqu .jingqu-list .list-content .jiudian-weizi{
    float: left;
    margin-top: 30px;
    width: 550px;
    height: 50px;
}
/*地图1*/
.jingqu .jingqu-list .allmap{width:120%;height:500px;}





.jingqu .jingqu-list .list-content .jiudian-weizi .jiudian-star{
    margin-top: 16px;
}
.jingqu .jingqu-list .list-content .jiudian-weizi .jiudian-star img {
    width: 120px;
    height: 22px;
}

.jingqu .jingqu-list .list-content .jiudian-pinglun{
    float: left;
    margin-top: 30px;
    height: 50px;
}
.jingqu .jingqu-list .list-content .jiudian-pinglun .wifi img{
    width: 100px;
    height: 22px;
    margin-top: 14px;
}
.jingqu .jingqu-list .list-content .jiudian-pinglun .pingfen-nub{
    color: #017cc0;
}
.jingqu .jingqu-list .list-content .jiudian-pinglun a{
    display: inline-block;
    width: 100px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    background-color: #fbfaff;
}

.jingqu .jingqu-list .list-buy .mastbuy {
    display: block;
    float: right;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #f57e00;
    color: #ffffff;
}


/*特产页面*/

.techan-buy{
    float: right;
    width: 260px;
    height: 56px;
    margin-right: 20px;
    margin-top: 0px;
    border: 1px solid #a6a6a6;
}

.techan-buy .techan-buy1{
    float: left;
    display: inline-block;
    width: 90px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

.techan-buy .techan-buy2{
    float: left;
    width: 90px;
    text-align: center;
}

.techan-buy .techan-buy2 .techan-buy2x{
    display: block;
    width: 90px;
    margin-top: 10px;
    color: #ff5e27;
}
.techan-buy .techan-buy2 .techan-buy2n{
    display: block;
    width: 90px;
    text-decoration: line-through;
}
.techan-buy .techan-buy3{
    display: block;
    float: right;
    width: 60px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    background-color: #f57e00;
    color: #ffffff;

}
.techan-buy .techan-buy3 .techan-buy3x{
    display: block;
    width: 60px;
    margin-top: 6px;
}
.techan-buy .techan-buy3 .techan-buy3n{
    display: block;
    width: 60px;
}



