@charset "UTF-8";

body{
    position: relative;
}
.nav-base #navs{
    height: 76px;
    width: 100%;
    background: rgb(248,248,248);
}
.nav-base #navs span{
    float: left;
    line-height: 76px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;

}
.nav-base #navs img{
    float: left;
    height: 76px;
    width: 56px;
}
.nav-base #navs .money-nav{
    float:right;
    margin-right: 50px;
}
.nav-base  #navs .money-nav li{

    float: left;
    display: block;
    width: 210px;
    height: 30px;
    line-height: 30px;
    margin-top: 26px;
    text-align: center;
}


.nav-base  #navs .money-nav .money-nav1{
    background-image: url("../img/4dingdan1.jpg");
    color: #ffffff;
}
.nav-base  #navs .money-nav .money-nav2{
     background-image: url("../img/4dingdan2.jpg");
 }
.nav-base  #navs .money-nav .money-nav3{
    background-image: url("../img/4dingdan2.jpg");
}


/*登录模块*/

.denglu .denglu-box{
    width: 100%;
    height: 6px;
    background-color: #017cc2;
    margin-top: 26px;
}

.denglu .denglu-content{
    margin: 0 auto;
    width: 990px;
    height: 50px;
    background-color:#fffdee ;
    border: 1px solid #eed38c;
}

.denglu .denglu-content img{
    width: 16px;
    height: 14px;
    margin-left: 20px;
}
.denglu .denglu-content span{
    line-height: 50px;
    margin-left: 12px;

}
.denglu .denglu-content a{
    margin-left: 16px;
}
/*订单信息*/
.jieshuan .jieshuan-left{
    float: left;
    width: 830px;
    border: 1px solid #f0f0f0;
}




.dingdan{
    width: 830px;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 50px;
}

.dingdan h4{
     font-size: 16px;
    font-weight: 800;
}
.dingdan .dingdan-lis{
    margin-top: 16px;
}
.dingdan .dingdan-lis .dingdan-name{
    margin-left: 120px;
    font-size: 16px;
}
.dingdan .dingdan-lis .dingdan-nab{
    margin-left: 30px;
    font-size: 16px;
}
.dingdan .dingdan-lis .dingdan-zhang{
    font-size: 16px;
}
.dingdan .dingdan-lis .dingdan-time {
    margin-left: 80px;
    padding-left: 20px;
    width: 230px;
    height: 30px;
    border: 1px solid #69c1ff;
}
.dingdan .dingdan-lis .dingdan-danjia1{
     color: #ff6600;
     font-size: 22px;
     margin-left: 30px;
     line-height: 30px;
 }
.dingdan .dingdan-lis .dingdan-danjia2{
    font-size: 12px;
    color: #ff6600;
    line-height: 30px;
}
.dingdan .dingdan-lis .dingdan-ren{
    font-size: 14px;
}

/*2*/
.dingdan .dingdan-lis .time{
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 17px;
    margin-left: 80px;
    font-size: 16px;
}

.dingdan .dingdan-lis .dingdan-danjia3{
    color: #ff6600;
    font-size: 22px;
    margin-left: 155px;
    line-height: 30px;
}
.dingdan .dingdan-lis .dingdan-bigin{
    margin-left: 30px;
    font-size: 16px;
}


/*取票人信息*/
.qupiao{
    width: 830px;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 50px;
}
.qupiao h4{
    font-size: 16px;
    font-weight: 800;
}


.qupiao .qupiao-news{
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 16px;
}
.qupiao .qupiao-add{
    display: inline-block;
    margin-left: 100px;
    font-size: 14px;
}
.qupiao .qupiao-add button{
    height: 24px;
    width: 24px;
    border-radius: 12px;
    line-height: 18px;
    font-size: 20px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    margin-right: 6px;
}
.qupiao .qupiao-ipt{
    padding-top: 20px;
}

.qupiao .qupiao-ipt .form-group{
    height: 30px;
    margin-bottom: 15px;
}

.qupiao .qupiao-ipt .form-group label{
    display: block;
    float: left;
    height: 20px;
    line-height: 30px;

}
.qupiao .qupiao-ipt .form-group .qupiao-ipt-1{
    margin-left: 100px;

}
.qupiao .qupiao-ipt .form-group .qupiao-ipt-2{
    margin-left: 58px;

}
.qupiao .qupiao-ipt .form-group .qupiao-ipt-3{
    margin-left: 58px;
}


.qupiao .qupiao-ipt .form-group input{
    margin-left: 10px;
    width: 326px;
    height: 28px;
    border: 1px solid #cccccc;
    padding-left: 6px;
}
/*优惠信息*/


.qupiao .youhui{
    display: inline-block;
    margin-top: 16px;
    margin-left: 30px;

}



/*右侧栏信息*/

.jieshuan-right{

    width: 300px;
    float: right;
    padding-left: 10px;
    padding-top: 20px;
    border: 1px solid #f0f0f0;
}
.jieshuan-right h4 {
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-weight: 600;

}
.jieshuan-right span{
    display: block;
    margin-top: 20px;
}

.jieshuan-right a{
    display: block;
    height: 30px;
    width: 140px;
    margin: 30px auto;
    border: 1px solid #f0f0f0;
    text-align: center;
    line-height: 30px;

}

/*z支付结算*/
.zhifu{
    height: 90px;
    background-color: #f4f4f4;
}

.zhifu .zhifu-word{
    float: left;
    font-size: 16px;
    line-height: 80px;


}
.zhifu .zhifu-money{
    float: left;
    font-size: 24px;
    color: #ff7d3f;
    line-height: 80px;
}
.zhifu a{
    display:block;
    float: left;
    width: 180px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #f57e00;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
}




/*支付页面的css*/


.nav-base  #navs .money-nav .money-nav4{
    background-image: url("../img/4dingdan1.jpg");
    color: #ffffff;
}


.online{
    border: 1px solid #f0f0f0;
    margin-top: 26px;
    border-top: 5px solid #017cc2;
    padding-top: 20px;
    padding-left: 10px;
}

.online h4{
    font-size: 16px;
    font-weight: 600;
}

.online .online-shop{
    display: block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}

.online .online-word{
    font-size: 16px;
    margin-left: 20px;
}

.online .online-nb{
    font-size: 22px;
    color: #fc6700;
    margin-left: 20px;

}

.online .online-nb1{
    font-size: 12px;
    color: #fc6700;

}


/*微信支付模块*/
.online .nav-tab{
    width: 900px;
    height: 436px;
    border: 1px solid #f0f0f0;
    margin: 40px auto 20px;
}
.online .nav-tab .nav li{
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #f4f4f4;
    line-height: 40px;

}

.nav-tabs {
  border-bottom:none;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
     border:none;
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
     margin-right:0;
    border: none;
     border-radius:0;
    height: 40px;
    line-height: 40px;
}
.nav > li > a {
     position: relative;
    display: block;
     padding: 0;
}
.online .nav-tab .tab-content .tab-pane{
    padding-top: 60px;
    text-align: center;


}
.online .nav-tab .tab-content .tab-pane p{
    font-size: 16px;
}

.online .nav-tab .tab-content .tab-pane img{
    height: 160px;
    width: 160px;
    margin-top: 8px;
}


/*新页面-门票订单详情页面*/

.menpiao-details{
    margin-top: 26px;
    border-top: 5px solid #017cc2;
    padding-top: 10px;


}

.menpiao-details .menpiao-detailscont{
    width: 1000px;
    margin: 20px auto 50px;
}
.menpiao-details .menpiao-detailscont .detailscont-title{
    width: 1000px;
    height: 70px;
    padding-top: 10px;
    background-color: #027dc3;
    color: #fff;
}

.menpiao-details .menpiao-detailscont .detailscont-title .detailscont-title1{
    margin-left: 20px;
}

.menpiao-details .menpiao-detailscont .detailscont-title .detailscont-title2{
    font-size: 26px;
    line-height: 20px;
    text-align: center;
}
/*订单详情*/

.menpiao-details .menpiao-detailscont .detailscont-cont{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dddddd;

}

.menpiao-details .menpiao-detailscont .detailscont-cont h4{
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    line-height: 30px;
    padding-left: 16px;
}
.menpiao-details .menpiao-detailscont .detailscont-cont ul{
    width: 100%;
    padding: 10px 16px 10px;

}
.menpiao-details .menpiao-detailscont .detailscont-cont li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;

}

/*订单内容*/

.menpiao-details .menpiao-detailscont .detailscont-lis{

    margin-top: 20px;
    border: 1px solid #dddddd;

}
.menpiao-details .menpiao-detailscont .detailscont-lis .lis-title{
    border-bottom: 1px solid #dddddd;
    height: 30px;
    line-height: 30px;

}
.menpiao-details .menpiao-detailscont .detailscont-lis .lis-title span{
    display: inline-block;
    text-align: center;
}
.menpiao-details .menpiao-detailscont .detailscont-lis .lis-title .lis-title1{
    width: 200px;
    margin-left: 20px;

}
.menpiao-details .menpiao-detailscont .detailscont-lis .lis-title .lis-title2{
    width: 200px;
    margin-left: 50px;
}
.menpiao-details .menpiao-detailscont .detailscont-lis .lis-title .lis-title3{
    width: 80px;
}
.menpiao-details .menpiao-detailscont .detailscont-lis .lis-title .lis-title4{
    width: 300px;
    float: right;
}

.menpiao-details .menpiao-detailscont .detailscont-lis .lis-titlecont{
    height: 60px;
    line-height: 60px;
}

.menpiao-details .menpiao-detailscont .detailscont-tel{
    margin: 20px auto;
    background-color: #f2f2f2;
}

.menpiao-details .menpiao-detailscont .detailscont-tel .detailscont-tel1{
    height: 30px;
    line-height: 30px;
}
.menpiao-details .menpiao-detailscont .detailscont-tel .detailscont-tel1 span{
    margin-left: 16px;
}
.menpiao-details .menpiao-detailscont .out-tel{
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.menpiao-details .menpiao-detailscont .out-btn{
     float: right;
    margin-bottom: 80px;
 }
.menpiao-details .menpiao-detailscont .out-btn button{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-right: 20px;

}
.menpiao-details .menpiao-detailscont .out-btn .out-btn2{
   background-color: #f57e00;
}


.nav-base  #navs .money-nav .money-nav33{
    background-image: url("../img/4dingdan1.jpg");
    color: #ffffff;
}


/*导游订单页面*/
.daoyou-name{
    width: 720px;
    margin-left: 80px;

}

.daoyou-name .daoyou-nametltle{
    font-size: 16px;
    margin-bottom: 10px;
}
.daoyou-name .table-responsive{
    border: 1px solid #dedcdd;

}
.daoyou-name .table-responsive  .table {
    width: 100%;
    max-width: 100%;
     margin-bottom: 0px;
}
.daoyou-name .table-responsive thead{
    height: 36px;
    background-color: #f1faff;
}
.daoyou-name .table-responsive tbody tr{
    height: 44px;
    line-height: 44px;
}

.jieshuan .jieshuan-left1 {
    float: left;
    width: 100%;
    border: 1px solid #f0f0f0;
}

.pro-body-des-con {
    float: left;
    height: 40px;
    width: 100px;
    margin-left: 20px;
}
.pro-body-des-con span {
    float: left;
}

#shu {
    display: block;
    width: 32px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
#jia {
    width: 32px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
#jian1 {
    width: 32px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}
#jian2 {
    width: 32px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.chuxing-nub {
    float: left;
    display: inline-block;
    line-height: 40px;
}

.chuxingnub{
    margin-top: 20px;
}

.qupiao .qupiao-ipt .form-group .qupiao-ipt-2x {
    margin-left: 100px;
}


/*特产订单页面*/

.techan-dingdan{

}

.techan-dingdan .address{
    margin: 0 auto;
    margin-top: 10px;
    width: 1000px;
    height: 90px;
    border: 1px solid #dddddd;
}
.techan-dingdan .address h4{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 16px;
    font-size: 14px;
    background-color: #f2f2f2;


}

.techan-dingdan .address .address1{
    height: 60px;
    line-height: 60px;
    padding-left: 16px;
}
.techan-dingdan .address .address1 a{
    float: right;
    margin-right: 20px;
    color: #007cc2;
}

.techan-dingdan .dingdian-cont{

    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #dddddd;
}
.techan-dingdan .dingdian-cont h4{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 16px;
    font-size: 14px;
    background-color: #f2f2f2;
}
.techan-dingdan .dingdian-cont .dingdan-shop{
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 20px;
}
.techan-dingdan .dingdian-cont .dingdan-shop .dingdan-shoptitle{
    height: 38px;
    line-height: 38px;
    font-weight: 600;
}

.techan-dingdan .dingdian-cont .dingdan-shopcont1{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.techan-dingdan .dingdian-cont .dingdan-shopcont2{
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #dddddd;
}
.techan-dingdan .dingdian-cont ul li{
    float: left;
}
.techan-dingdan .dingdian-cont ul .shop-tit1{
    width: 360px;
    text-align: center;
}
.techan-dingdan .dingdian-cont ul .shop-tit1 .shop-tit1-1{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.techan-dingdan .dingdian-cont ul .shop-tit1 .shop-tit1-2{
    float: left;
    width: 220px;
    line-height: 24px;
    margin-left: 40px;
    margin-top: 16px;
    text-align: left;
}


.techan-dingdan .dingdian-cont ul .shop-tit2{
    width: 150px;
    text-align: center;
}
.techan-dingdan .dingdian-cont ul .shop-tit3{
    width: 120px;
    text-align: center;
}
.techan-dingdan .dingdian-cont ul .shop-tit4{
    width: 150px;
    text-align: center;
}
.techan-dingdan .dingdian-cont ul .shop-tit5{
    width: 200px;
    text-align: center;
}
.techan-dingdan .dingdian-cont ul .shop-tit5 p{
    width: 100%;
    height: 100%;
    color: #f68826;
    border-left: 1px solid #dddddd;
}
/*付款*/
.techan-dingdan .shop-buy{
    width: 1000px;
    height: 160px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f3f3f3;
    text-align: right;
    padding-right: 20px;
}

.techan-dingdan .shop-buy .realymoney1{
    height: 66px;
    line-height: 66px;

}

.techan-dingdan .shop-buy .realymoney1 .realymoney-nub{
    font-size: 20px;
    color: #f57d02;
}
.techan-dingdan .shop-buy  .realymoneytitle{
    font-weight: 600;
}
.techan-dingdan .shop-buy .realymoney2{
    height: 34px;
    line-height: 34px;
}
.techan-dingdan .shop-buy .realymoney3{
    height: 34px;
    line-height: 34px;
}

.techan-dingdan .shop-button{
    width: 1000px;
    height: 40px;
    margin: 12px auto 50px;
}
.techan-dingdan .shop-button a{
    float: right;
    width: 140px; ;
    height: 40px;
    line-height: 40px; ;
    text-align: center;
    color: #fff;
    background-color: #f57e00;
    text-decoration: none;
}

/*特产支付订单情页*/
.tcdingdan-details{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #dddddd;
}
.tcdingdan-details h4{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 16px;
    font-size: 14px;
    background-color: #f2f2f2;
}
.tcdingdan-details ul{
    padding-top: 10px;
    padding-bottom: 20px;
}
.tcdingdan-details ul li{
    line-height: 28px;
    padding-left: 16px;
}


.tcdingdan-details1{
    margin-top: 20px;
    border: 1px solid #dddddd;
}

.tcdingdan-details1 .dingdan-shopcont .dingdan-shopcont1{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom:1px solid #dddddd;;
}
.tcdingdan-details1 .dingdan-shopcont .dingdan-shopcont2{
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.tcdingdan-details1 .dingdan-shopcont ul li{
    float: left;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit1{
    width: 360px;
    text-align: center;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit1 .shop-tit1-1{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit1 .shop-tit1-2{
    float: left;
    width: 220px;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 16px;
    text-align: left;
}


.tcdingdan-details1 .dingdan-shopcont ul .shop-tit2{
    width: 150px;
    text-align: center;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit3{
    width: 120px;
    text-align: center;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit4{
    width: 150px;
    text-align: center;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit5{
    width: 200px;
    text-align: center;
}
.tcdingdan-details1 .dingdan-shopcont ul .shop-tit5 p{
    width: 100%;
    height: 100%;
    color: #f68826;
}

/*结算金额信息*/
.tcdingdan-details2{
    width: 1000px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: right;
    padding: 20px;
    padding-right: 50px;
    background-color: #f3f3f3;

}
.tcdingdan-details2 .money1 span{
    font-size: 12px;
    line-height: 30px;

}
.tcdingdan-details2 .onebottomx{
    margin-bottom: 10px;
}
.tcdingdan-details2 .money2 span{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;

}
.tcdingdan-details2 .money1-title1{
    margin-right: 80px;
}


/*酒店订单详情*/

.dingdan ul li{
    line-height: 26px;
    padding-left: 120px;
}



