
.zhanghu{
    margin-top: 20px;
}





.zhanghu .nav-tabs {
    width: 160px;
    float: left;
    border-bottom:none;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border:none;
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
    margin-right:0;
    border: none;
    border-radius:0;
    height: 40px;
    line-height: 40px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 0;
}



.zhanghu .nav-tabs .nav-title{
    font-size: 14px;
    font-weight: 600;
    height: 38px;
    width: 160px;
    line-height: 38px;
    padding-left: 20px;
    border-bottom: 2px solid #017cc2;
}
.zhanghu .nav-tabs .zhanghu-cart{
    height: 36px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 36px;


}
.zhanghu .nav-tabs .zhanghu-cart span{
    margin-right: 4px;


}
.zhanghu .nav-tabs .zhanghu-list a{
    padding-left: 50px;

}
.zhanghu .tab-pane{
    float: left;
    padding-left: 20px;
    padding-top: 36px;
}



iframe{
    width: 980px;
  /*  height: 820px;*/
    overflow:Scroll;
    overflow-y:hidden;
    padding-top: 36px;
    padding-left: 20px;

}
/*导航栏右侧内容*/
 #home1 .zhanghu-dingdan1{
    height: 90px;
    width: 960px;
    margin-bottom: 20px;
    border: 1px solid #b0c7e7;

}
 #home1 .zhanghu-dingdan1 .dingdan1-title{
    height: 30px;
    background-color: #eaf2fd;
    line-height: 30px;
}
 #home1 .zhanghu-dingdan1 .dingdan1-title .dingdan-1{
     margin-left: 30px;
 }
#home1 .zhanghu-dingdan1 .dingdan1-title .dingdan-2{
    color: #027bc0;
}
/*订单内容*/
#home1 .zhanghu-dingdan1 .dingdan1-cont{
    height: 60px;
    padding-left: 10px;
}
 #home1 .zhanghu-dingdan1 .dingdan1-cont span{
    display:block;
    float: left;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-luxian{
    width: 190px;
    height: 40px;
    margin-top: 10px;
    color: #027bc0;
    font-size: 14px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-piao{
    height: 60px;
    line-height: 60px;
    margin-left: 70px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-name{
     height: 60px;
     line-height: 60px;
     margin-left: 56px;
 }
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-time{
    height: 60px;
    line-height: 60px;
    margin-left: 80px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-Price{
    height: 60px;
    line-height: 60px;
    margin-left: 80px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai{
    display:block;
    float: left;
    height: 40px;
    margin-left: 100px;
    margin-top: 8px;
    line-height: 22px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai .dingdan1-no{
    color: #fe0002;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai a{
    color: #037cc3;

}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai a{
    color: #037cc3;

}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-get{
    display: inline-block;
    height: 30px;
    width: 100px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 14px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    background-color: #f57e00;
    color: #ffffff;
}


/*资产列表的余额内容*/
/*#money{
    border: 1px solid blue;
    float: left;
    padding-left: 20px;
    padding-top: 90px;
}*/
 #money .money-cont{
    border: 1px solid #b0c7e7;
    height: 200px;
    width: 960px;

}
#money .money-cont .money-top{
   background-color: #eaf2fd;
    height: 90px;
    padding-top: 18px;
    padding-left: 50px;


}
#money .money-cont .money-top h4{
    color: #f67e04;
    font-size: 24px;

}
 #money .money-cont .money-top .money-home{
    margin-top: 12px;
}
 #money .money-cont .money-top .money-home .money-an{
    margin-left: 30px;
}

#money .money-cont .money-news{
    padding-top: 16px;
    height: 110px;
}
#money .money-cont .money-news .money-left{
    float: left;
    height: 90px;
    width: 478px;
    border-right: 1px dashed #b3c7ea;
    padding-left: 50px;
    padding-top: 10px;
}
#money .money-cont .money-news .money-left div{
    float: left;
}
#money .money-cont .money-news .money-left .money-left1{
    width: 80px;
    height: 60px;

}
#money .money-cont .money-news .money-left .money-left1 h4 {
    font-size: 14px;
    font-weight: 600;
}
#money .money-cont .money-news .money-left .money-left1 span{
    display: inline-block;
    margin-top: 20px;


}
#money .money-cont .money-news .money-left .money-left1 .money-big ,
.money-som{
    font-size: 14px;
    color: #f57e00;

}
#money .money-cont .money-news .money-left .money-left1 .money-big{
    font-size: 18px;
}
#money .money-cont .money-news .money-left .money-left2{
    width: 110px;
    margin-left: 30px;
    font-size: 12px;
}
#money .money-cont .money-news .money-left .money-left3{

}
#money .money-cont .money-news .money-left a{
    margin-top: 30px;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #f0f0f0;
    font-weight: 600;
}

/*右侧我的银行卡*/

#money .money-cont .money-news .money-right{
    width: 480px;
    float: left;
    padding-left: 50px;
    padding-top: 10px;
}
#money .money-cont .money-news .money-right h4{
    font-size: 14px;
    font-weight: 600;
}

#money .money-cont .money-news .money-right span{
    display: inline-block;
    margin-top: 20px;

}

#money .money-cont .money-news .money-right .yinhang-1{
    margin-left: 80px;

}


/*我的资产-银行卡模块*/
#yinhang .yinka{
    border: 1px solid #b2c6e7;
    width: 960px;
}
 #yinhang .yinka h4{
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    background-color: #eaf2fd;
}
 #yinhang .yinka .yinka-cont{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
 #yinhang .yinka a{
    color: #017cc0;
}

/*我的资产-优惠券模块*/
 #youhui h4{
    height: 30px;
    width: 960px;
    background-color: #eaf2fd;
    border: 1px solid #b0c7e7;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 600;
}
 #youhui .youhui-lis{
    border: 1px solid #cccccc;
    height: 100px;
    width: 960px;
    margin-top: 20px;
}
#youhui .youhui-lis .youhui-jia{
    width: 100px;
    height: 60px;
    float: left;
    margin-top: 20px;
    background-color: #027dc3;
    color: #ffffff;
    margin-left: 80px;
    text-align: center;
}
#youhui .youhui-lis .youhui-jia .youhui-jia-nb{
    font-size: 24px;
    margin-top: 4px;
}
#youhui .youhui-lis .youhui-jia .youhui-jia-nb1{
    font-size: 12px;
}
#youhui .youhui-lis .youhui-biaozun{
    float: left;
    width: 250px;
    height: 100px;
    padding-top: 30px;
    padding-left: 20px;
}
#youhui .youhui-lis .youhui-biaozun .youhui-biaozun1{
     font-size: 14px;
     font-weight: 600;
 }
 #youhui .youhui-lis .youhui-biaozun .youhui-biaozun2{
    font-size: 12px;
    margin-top: 6px;
}

#youhui .youhui-lis .youhui-zhuangtai{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 30px;
    margin-top: 34px;
    margin-left: 350px;
    font-weight: 600;
}
#youhui .youhui-lis .youhui-jia1{
    width: 100px;
    height: 60px;
    float: left;
    margin-top: 20px;
    background-color: #f2f2f2;
    color:#000000 ;
    margin-left: 80px;
    text-align: center;
}



/*我的资料-个人资料模块*/
#zhiliao .people-data{
    width: 960px;
    border: 1px solid #b0c7e7;
    position: relative;

}



#zhiliao label{
    float: left;
    margin-right: 30px;
}
#zhiliao .form-1{
    float: left;
}
#zhiliao .form-1 input{
    float: left;
    width: 360px;
}

#zhiliao .form-2 .form-control{
    display: inline-block;
    width: 170px;
}
#zhiliao .form-2 .form-2lin{
    margin-left: 64px;
}

#zhiliao .form-2 .form-2lin1{
    margin-left: 50px;
}

#zhiliao .form-2 .button{
    display: inline-block;
    width: 170px;
    height: 36px;
    margin-left: 16px;
    background-color: #f2f2f2;
    border-radius: 4px;
    letter-spacing: 3px;
}

#zhiliao .btn{
    width: 360px;
    height: 40px;
    line-height: 26px;
    letter-spacing: 4px;
    background-color: #027dc3;
    color: #fff;
    margin-top: 20px;
    margin-left: 122px;
}

#zhiliao .form-group{
    width: 600px;
}
#zhiliao .oneline{
    width: 320px;
    height: 40px;
}


#zhiliao .people-data-top{
    width: 958px;
    height: 30px;
    float: left;
    padding-left: 12px;
    background-color: #eaf2fd;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;


}
#zhiliao .people-data-top p{
    display: inline-block;
    float: left;

 }
#zhiliao .people-data-top  span{
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 6px;

}
#zhiliao .people-data-top  a{
    display: inline-block;
    float: right;
    width: 30px;

}

/*我的资料-个人资料信息模块*/
#zhiliao .people-data .people-data-cont{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
}
#zhiliao .people-data .people-data-cont .people-data-tel{
    margin-top: 10px;
}
#zhiliao .people-data .people-data-cont .people-data-tel .people-data-tel1{
    margin-left: 28px;
    font-weight: 600;

}
#zhiliao .people-data .people-data-cont .people-data-tel .people-data-tel2{
    display: inline-block;
    margin-left: 30px;
    width: 150px;

 }
#zhiliao .people-data .people-data-cont .people-data-tel .people-data-tel3{
    margin-left: 38px;
    color: #007ec3;

}

#zhiliao .people-data .people-data-cont .form-horizontal .form-btm{
    margin-bottom: 0px;
}
#zhiliao .people-data .people-data-cont .people-data-tel01{
    margin-left: -16px;
    margin-right: 0px;
}

#zhiliao .people-data .people-data-cont .people-data-tel002{
    margin-left: 0px;
    margin-right: 0px;
}

#zhiliao .people-data .people-data-cont .people-data-tel02{
    margin-left: -10px;
    margin-bottom: 6px;
    border: none;
    display: block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
}
#zhiliao .people-data .people-data-cont .people-data-show{
    margin-left: -10px;
    margin-bottom: 6px;
    display: block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#zhiliao .people-data .people-data-cont .form-horizontal button{
   /* background-color: #fff;*/
    line-height: 30px;
    color: #027bc4;
    background-color: #eaf2fd;
    margin-left: 10px;

}
#zhiliao .people-data .people-data-cont .people-databtns1{
    display: inline-block;
}
#zhiliao .people-data .people-data-cont .people-databtns{
    position: absolute;
    top: 0px;
    right: 30px;
    width: 120px;
}
#zhiliao .people-data .people-data-cont .people-datasub{
    display: none;
}
#zhiliao .people-data .people-data-cont .people-datasubshow1{
   display: block;
}
#zhiliao .people-data .people-data-cont .people-datasubshow{
    display: inline-block;
    width: 40px;
}


/*个人资料上传头像模块*/


#zhiliao .people-data .people-data-cont{

}
#zhiliao  .people-img{
    margin-top: 20px;
    width: 960px;
    border: 1px solid #b0c7e7;
}

#zhiliao .people-imgs-cont-tou{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
#zhiliao .people-imgs-cont-ipt{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#zhiliao .people-imgs-tijiao{
    float: left;
    margin-top: 20px;
}


.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}



/*头像上传控件*/
.people-imgs-cont{
    padding: 20px;




}
.contain {
    width: 400px;
    position: relative;
    font-family: 微软雅黑;
    font-size: 12px;
}
.contain p {
    line-height: 12px;
    line-height: 0px;
    height: 0px;
    margin: 10px;
    color: #bbb
}
.action {
    width: 300px;
    padding-left: 30px;
    height: 30px;
    margin: 10px 0;
}
.cropped {
    position: absolute;
    right: -484px;
    top: 62px;
    width: 500px;
    border: 1px #ddd solid;
    height: 200px;
    padding: 4px;
    box-shadow: 0px 0px 12px #ddd;
    text-align: center;
}
.cropped img{
    display: block;
    float: left;
}



.imageBox {
    position: relative;
    height: 300px;
    width: 300px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0;
}
.imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.Btnsty_peyton {
    /* float: right; */
    width: 50px;
    display: inline-block;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin: 0px 2px;
    background-color: #eeeeee;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #bbbbbb;
}
/*选择文件上传*/
.new-contentarea {
    width:300px;
    overflow:hidden;
    margin: 0 auto;
    position:relative;float:left;
}
.new-contentarea label {
    width:100%;
    height:100%;
    display:block;
}
.new-contentarea input[type=file] {
    width: 188px;
    height: 30px;
    background: #333;
    position: absolute;
    right: 22%;
    top: 20px;
    right/*\**/: 0px\9;
    margin-right/*\**/: 0px\9;
    width/*\**/: 10px\9;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
}
a.upload-img{
    width:100px;
    display:block;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
    height:30px;
    line-height: 30px;
    font-size: 16px;
    background-color: #eeeeee;
    border-radius: 3px;
    text-decoration:none;
    cursor:pointer;
    border: 1px solid #bbbbbb;
}
a.upload-img:hover{
    background-color: #ec7e70;
}

.tc{text-align:center;}


/* 密码管理模块*/


#password .xiugai{
    border: 1px solid #b0c7e7;

}
#password .xiugai h4 {
    width: 958px;
    height: 30px;
    padding-left: 12px;
    background-color: #eaf2fd;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
}


#password .xiugai .xiugai-mima{
    height: 340px;
    padding-top: 40px;
    padding-left: 200px;
}

#password .xiugai .xiugai-mima .form-horizontal .form-control {
    width:360px;
}


#password .xiugai .xiugai-mima .form-horizontal .form-group .baocun {
    width: 360px;
    margin-left: 132px;
    margin-top: 30px;
    background-color: #027dc3;
    color: #fff;
    letter-spacing: 16px;

}

/*收获地址模块*/




/*系统消息模块*/

#xiaoxi h4{
    width: 958px;
    height: 30px;
    padding-left: 12px;
    background-color: #eaf2fd;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
    border: 1px solid #b0c7e7;

}
#xiaoxi .xiaoxi{
    width: 958px;
    margin-top: 10px;
    border: 1px solid #b0c7e7;
    padding-bottom: 30px;

}
#xiaoxi .xiaoxi .xiaoxi-title{
    height: 30px;
    line-height: 30px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 30px;


}
#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-1{
    font-weight: 600;
}
#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-1 input{
    height: 14px;
    width: 14px;
    margin-top: -2px;
    margin-right: 6px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-1 a{
    color: #027dc3;
    margin-left: 30px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-2 {
    margin-left: 176px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-3 {
    margin-left: 380px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-4 {
    margin-left: 96px;
}

/*消息内容*/
#xiaoxi .xiaoxi .xiaoxi1-cont{
    padding-left: 10px;
    padding-top: 20px;
}
#xiaoxi .xiaoxi .xiaoxi1-cont input{
    height: 14px;
    width: 14px;
    margin-top: -2px;
    margin-right: 6px;
}

#xiaoxi .xiaoxi .xiaoxi1-cont .xiaoxi1-zhu a{
    color: #027dc3;
    margin-left: 30px;
}
#xiaoxi .xiaoxi .xiaoxi1-cont .xiaoxi1-time{
    float: right;
    margin-right: 174px;
}
#xiaoxi .xiaoxi .xiaoxi1-cont .xiaoxi1-delt a{
    float: right;
    margin-right: -188px;
    color: #027dc3;
}


/*商品管理*/

#seller_shangpin .nav-tabs{
    width: 300px;
    background-color: #ffffff;
    border-bottom: none;


}
#seller_shangpin .nav-tabs .active a{
    background-color: #f2f2f2;
}
#seller_shangpin .nav-tabs a{
    width: 120px;
    height: 40px;
    float: left;
    border: 1px solid #cccccc;
    line-height: 40px;
    text-align: center;
}


#seller_shangpin .tab-content .tab-pane{
    float: left;
    padding-top: 26px;
}
#seller_shangpin .tab-content .shangpin-chang{
    width: 120px;
    height: 30px;
    padding: 4px;
    margin-left: 6px;
    border-radius: 4px;
}

#seller_shangpin .tab-content .shangpin_seaech{
    display: inline-block;
    width: 220px;
    height: 30px;
}

#seller_shangpin .tab-content .shangpin-label{
    margin-left: 30px;
    margin-right: 10px;
}
#seller_shangpin .tab-content .button{
    width: 70px;
    height: 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #f57e00;
}
#seller_shangpin .tab-content .shangpin-add{
    display: inline-block;
    width: 120px;
    height: 30px;
    margin-left: 100px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background-color: #027dc3;
}

#seller_shangpin .tab-content .shangpin-addcont{
    width: 950px;
    border: 1px solid #b0c7e7;
    margin-top: 20px;
    padding-bottom: 30px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title{
    background-color: #eaf2fd;
    height: 30px;
    line-height: 30px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title span{
    font-weight: 600;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title1{
    margin-left: 30px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title2{
    margin-left: 40px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title3{
    margin-left: 80px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title4{
    margin-left: 60px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title5{
    margin-left: 70px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title6{
    margin-left: 80px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title7{
    margin-left: 120px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-contline{
    height: 30px;
    line-height: 30px;
    position: relative;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-contline span{
    display: inline-block;
    text-align: center;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont1{
    margin-left: 30px;
    width: 60px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont2{
    margin-left: 0px;
    width: 130px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont3{
    margin-left: 10px;
    width: 130px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont4{
    margin-left: 20px;
    width: 50px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont5{
    margin-left: 0px;
    width: 180px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont6{
    margin-left: 0px;
    width: 90px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont7 {
    margin-left: 44px;
    text-decoration: none;
    color:#027bc4;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont8 {
    color:#027bc4;
    background-color: #ffffff;
    margin-left: 30px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont8x {
    color:#027bc4;
    background-color: #ffffff;
    margin-left: 30px;
}


#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont9 {
    background-color: #ffffff;
    margin-left: 30px;
}

#seller_shangpin .tab-content .shangpin-addcont  .modal-header {
    padding: 6px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
}
#seller_shangpin .tab-content .shangpin-addcont .hangpin-namex{
    margin-top: 40px;
    margin-bottom: 10px;
}
#seller_shangpin .tab-content .shangpin-addcont .hangpin-namex .hangpin-namex1{
    margin-left: 30px;
}
#seller_shangpin .tab-content .shangpin-addcont .hangpin-namex .hangpin-namex2{
    display: inline-block;
    width: 190px;
    margin-left: 10px;
    text-align: left;
}

#seller_shangpin .tab-content .shangpin-addcont .form-horizontal{
    width: 568px;
}

#seller_shangpin .tab-content .shangpin-addcont  .form-2linx{
    margin-left: 44px;
    margin-right: 8px;
}



#seller_shangpin .tab-content .shangpin-addcont  .form-control {
    display: inline-block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#seller_shangpin .tab-content .shangpin-addcont .hangpin-btn{
   display: block;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    background-color: #2f8ded;
    margin: auto;
    margin-top: 100px;

}


/*商品入库改造页面*/

#seller_shangpin .tab-content .shangpin-addcont {
    width: 950px;
    border: 1px solid #b0c7e7;
    /* margin-top: -26px;*/
    padding-bottom: 30px;
}
#seller_shangpin .tab-content .shangpin-addcont .addcont-title .addcont-title7x{
    margin-left: 80px;
}

#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont7x {
     width: 30px;
    background-color: #fff;
     margin-left: 77px;
     font-size: 14px;
     color: #027bc2;
 }
#seller_shangpin .tab-content .shangpin-addcont .addcont-contline .addcont-cont7click {
    width: 44px;
    background-color: #fff;
    border: 1px solid;
    margin-left: 77px;
    font-size: 14px;
    color: #027bc2;
}

/*交易管理*/
.jiaoyi{

}
.jiaoyi .form-control1{

}
.jiaoyi .form-control1 .shangpin-label{
    margin-left: 30px;

}
.jiaoyi .form-control1 .shangpin-label1{
    margin-left: 40px;

}
.jiaoyi .form-control1 .shangpin-chang{
    width: 190px;
    height: 30px;
    padding-left: 6px;
    margin-left: 10px;
    border: 1px solid #cccccc;
}
.jiaoyi .form-control1 input{
    width: 190px;
    height: 30px;
    padding-left: 6px;
    margin-left: 10px;
    border: 1px solid #cccccc;
}
.jiaoyi .form-control1 .shangpin-time{
    margin-top: 10px;
}
.jiaoyi .form-control1 .searchbutton{
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f57e00;
    color: #fff;

}

.jiaoyi .jiaoyi-lis{

 }
.jiaoyi .jiaoyi-lis .allchang{
    width: 80px;
    height: 24px;
    line-height: 24px;
    margin-left: 16px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont{
    width: 960px;
    border: 1px solid #b0c7e7;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont{
    width: 960px;
    border: 1px solid #b0c7e7;
}
.jiaoyi .jiaoyi-lis .jiaoyi-lisone{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #0185d8;
    color: #fff;
    padding-left: 30px;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont span{
    display: inline-block;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone1{
   width: 150px;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone2{
    width: 130px;
    text-align: center;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone3{
    width:80px;
    text-align: center;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone4{
     width: 140px;
     text-align: center;
 }
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone5{
    width: 130px;
    text-align: center;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone6{
    width: 100px;
    text-align: center;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone7{
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #017ac3;
}
.jiaoyi .jiaoyi-lis .jiaoyi-liscont .lisone8{
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: #0185d8;
    color: #fff;


}

.jiaoyi .jiaoyi-lis .jiaoyi-lisone1{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px ;
    border: 1px solid #b0c7e7;
    padding-left: 30px;
}



/*商品入库模块*/
#seller_shangpin .tab-content .shangpin-addcontx {
    width: 950px;
    border: 1px solid #b0c7e7;
     margin-top: -26px;
    padding-bottom: 30px;
}

.ruku{
}
.ruku .rukuadd-tt {
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    background-color: #0185d8;
}
.ruku .rukuadd{

    padding-bottom: 60px;
}
.ruku .rukuadd .rukuadd-title1{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;


}
.ruku .rukuadd  .control-label{
    margin-left: 44px;
}
.ruku .rukuadd .form-group {
    margin-bottom: 10px;
}
.ruku .rukuadd .form-group{}

.ruku .rukuadd .form-group .shangpin-choice{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.ruku .rukuadd .rukuadd-title2{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ruku .rukuadd .rukuadd-input12{
    width: 100%;
    height:100px;


}


/*自定义上传图片按钮*/
.ruku .rukuadd .inputfile{
    float: left;
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    background: #027dc3;
    width: 120px;
    position:relative;
    left: 15px;
}

.ruku .rukuadd .form-controlbox{
    text-align:center;
    font-size:14px;
    color: #fff;
}

.ruku .rukuadd .form-control1{
    width: 120px;
    height: 34px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
    left:0px;
    top: 0px;
}

.ruku .rukuadd .remind{
    height: 34px;
    line-height: 34px;
    margin-left: 24px;
    font-size: 12px;
}
/*图片展示盒子*/
.ruku .rukuadd .input13-imgbox{
    width: 360px;
    height: 120px;
    overflow: scroll;
    overflow-y:hidden;
    border: 1px solid #cccccc;
}
.ruku #allbaocun {
    background-color: #0185d8;
    width: 440px;
    margin: 60px auto;
    text-align: center;
    letter-spacing: 20px;
}
.ruku #backlis{
    background-color: #0185d8;
    width: 440px;
    margin: 60px auto;
    text-align: center;
    letter-spacing: 20px;
}

.ruku .blockImg{

}
.ruku #wrapper .blockImg {


}
.ruku .blockImg .blockImg01{
    width: 100px;
    height: 10px;

}




