
.zhanghu{
    margin-top: 20px;
}





.zhanghu .nav-tabs {
    width: 160px;
    float: left;
    border-bottom:none;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border:none;
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
    margin-right:0;
    border: none;
    border-radius:0;
    height: 40px;
    line-height: 40px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 0;
}



.zhanghu .nav-tabs .nav-title{
    font-size: 14px;
    font-weight: 600;
    height: 38px;
    width: 160px;
    line-height: 38px;
    padding-left: 20px;
    border-bottom: 2px solid #017cc2;
}
.zhanghu .nav-tabs .zhanghu-cart{
    height: 36px;
    font-size: 14px;
    margin-left: 20px;
    line-height: 36px;


}
.zhanghu .nav-tabs .zhanghu-cart span{
    margin-right: 4px;


}
.zhanghu .nav-tabs .zhanghu-list a{
    padding-left: 50px;

}
.zhanghu .tab-pane{
    float: left;
    padding-left: 20px;
    padding-top: 36px;
}



iframe{
    width: 980px;
  /*  height: 820px;*/
    overflow:Scroll;
    overflow-y:hidden;
    padding-top: 36px;
    padding-left: 20px;

}
/*导航栏右侧内容*/
 #home1 .zhanghu-dingdan1{
    height: 90px;
    width: 960px;
    margin-bottom: 20px;
    border: 1px solid #b0c7e7;

}
 #home1 .zhanghu-dingdan1 .dingdan1-title{
    height: 30px;
    background-color: #eaf2fd;
    line-height: 30px;
}
 #home1 .zhanghu-dingdan1 .dingdan1-title .dingdan-1{
     margin-left: 30px;
 }
#home1 .zhanghu-dingdan1 .dingdan1-title .dingdan-2{
    color: #027bc0;
}
/*订单内容*/
#home1 .zhanghu-dingdan1 .dingdan1-cont{
    height: 60px;
    padding-left: 10px;
}
 #home1 .zhanghu-dingdan1 .dingdan1-cont span{
    display:block;
    float: left;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-luxian{
    width: 160px;
    height: 40px;
    margin-top: 10px;
    color: #027bc0;
    font-size: 14px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-piao{
    height: 60px;
    line-height: 60px;
    margin-left: 40px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-name{
     height: 60px;
     line-height: 60px;
     margin-left: 56px;
 }
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-time{
    height: 60px;
    line-height: 60px;
    margin-left: 80px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-Price{
    height: 60px;
    line-height: 60px;
    margin-left: 80px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai{
    display:block;
    float: left;
    height: 40px;
    margin-left: 160px;
    margin-top: 8px;
    line-height: 22px;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai .dingdan1-no{
    color: #fe0002;
}
#home1 .zhanghu-dingdan1 .dingdan1-cont .dingdan1-zhuangtai a{
    color: #037cc3;

}



/*资产列表的余额内容*/
/*#money{
    border: 1px solid blue;
    float: left;
    padding-left: 20px;
    padding-top: 90px;
}*/
 #money .money-cont{
    border: 1px solid #b0c7e7;
    height: 200px;
    width: 960px;

}
#money .money-cont .money-top{
   background-color: #eaf2fd;
    height: 90px;
    padding-top: 18px;
    padding-left: 50px;


}
#money .money-cont .money-top h4{
    color: #f67e04;
    font-size: 24px;

}
 #money .money-cont .money-top .money-home{
    margin-top: 12px;
}
 #money .money-cont .money-top .money-home .money-an{
    margin-left: 30px;
}

#money .money-cont .money-news{
    padding-top: 16px;
    height: 110px;
}
#money .money-cont .money-news .money-left{
    float: left;
    height: 90px;
    width: 478px;
    border-right: 1px dashed #b3c7ea;
    padding-left: 50px;
    padding-top: 10px;
}
#money .money-cont .money-news .money-left div{
    float: left;
}
#money .money-cont .money-news .money-left .money-left1{
    width: 80px;
    height: 60px;

}
#money .money-cont .money-news .money-left .money-left1 h4 {
    font-size: 14px;
    font-weight: 600;
}
#money .money-cont .money-news .money-left .money-left1 span{
    display: inline-block;
    margin-top: 20px;


}
#money .money-cont .money-news .money-left .money-left1 .money-big ,
.money-som{
    font-size: 14px;
    color: #f57e00;

}
#money .money-cont .money-news .money-left .money-left1 .money-big{
    font-size: 18px;
}
#money .money-cont .money-news .money-left .money-left2{
    width: 110px;
    margin-left: 30px;
    font-size: 12px;
}
#money .money-cont .money-news .money-left .money-left3{

}
#money .money-cont .money-news .money-left a{
    margin-top: 30px;
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #f0f0f0;
    font-weight: 600;
}

/*右侧我的银行卡*/

#money .money-cont .money-news .money-right{
    width: 480px;
    float: left;
    padding-left: 50px;
    padding-top: 10px;
}
#money .money-cont .money-news .money-right h4{
    font-size: 14px;
    font-weight: 600;
}

#money .money-cont .money-news .money-right span{
    display: inline-block;
    margin-top: 20px;

}

#money .money-cont .money-news .money-right .yinhang-1{
    margin-left: 80px;

}


/*我的资产-银行卡模块*/
#yinhang .yinka{
    border: 1px solid #b2c6e7;
    width: 960px;
}
 #yinhang .yinka h4{
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    background-color: #eaf2fd;
}
 #yinhang .yinka .yinka-cont{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
 #yinhang .yinka a{
    color: #017cc0;
}

/*我的资产-优惠券模块*/
 #youhui h4{
    height: 30px;
    width: 960px;
    background-color: #eaf2fd;
    border: 1px solid #b0c7e7;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 600;
}
 #youhui .youhui-lis{
    border: 1px solid #cccccc;
    height: 100px;
    width: 960px;
    margin-top: 20px;
}
#youhui .youhui-lis .youhui-jia{
    width: 100px;
    height: 60px;
    float: left;
    margin-top: 20px;
    background-color: #027dc3;
    color: #ffffff;
    margin-left: 80px;
    text-align: center;
}
#youhui .youhui-lis .youhui-jia .youhui-jia-nb{
    font-size: 24px;
    margin-top: 4px;
}
#youhui .youhui-lis .youhui-jia .youhui-jia-nb1{
    font-size: 12px;
}
#youhui .youhui-lis .youhui-biaozun{
    float: left;
    width: 250px;
    height: 100px;
    padding-top: 30px;
    padding-left: 20px;
}
#youhui .youhui-lis .youhui-biaozun .youhui-biaozun1{
     font-size: 14px;
     font-weight: 600;
 }
 #youhui .youhui-lis .youhui-biaozun .youhui-biaozun2{
    font-size: 12px;
    margin-top: 6px;
}

#youhui .youhui-lis .youhui-zhuangtai{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 30px;
    margin-top: 34px;
    margin-left: 350px;
    font-weight: 600;
}
#youhui .youhui-lis .youhui-jia1{
    width: 100px;
    height: 60px;
    float: left;
    margin-top: 20px;
    background-color: #f2f2f2;
    color:#000000 ;
    margin-left: 80px;
    text-align: center;
}



/*我的资料-个人资料模块*/
#zhiliao .people-data{
    width: 960px;
    border: 1px solid #b0c7e7;

}



#zhiliao label{
    float: left;
    margin-left: 50px;
    margin-right: 30px;
}
#zhiliao .form-1{
    float: left;
}
#zhiliao .form-1 input{
    float: left;
    width: 360px;
}

/*
#zhiliao .form-2{
    width: 420px;
    height: 50px;
}
*/
#zhiliao .form-2 .form-control{
    display: inline-block;
    width: 170px;
}
#zhiliao .form-2 .form-2lin{
    margin-left: 64px;
}

#zhiliao .form-2 .form-2lin1{
    margin-left: 50px;
}

#zhiliao .form-2 .button{
    display: inline-block;
    width: 170px;
    height: 36px;
    margin-left: 16px;
    background-color: #f2f2f2;
    border-radius: 4px;
    letter-spacing: 3px;
}

#zhiliao .btn{
    width: 360px;
    height: 40px;
    line-height: 26px;
    letter-spacing: 4px;
    background-color: #027dc3;
    color: #fff;
    margin-top: 20px;
    margin-left: 122px;
}

#zhiliao .form-group{
    width: 600px;
}
#zhiliao .oneline{
    width: 320px;
    height: 40px;
}









#zhiliao .people-data-top{
    width: 958px;
    height: 30px;
    float: left;
    padding-left: 12px;
    background-color: #eaf2fd;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;


}
#zhiliao .people-data-top p{
    display: inline-block;
    float: left;

 }
#zhiliao .people-data-top  span{
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 6px;

}
#zhiliao .people-data-top  a{
    display: inline-block;
    float: right;
    width: 30px;

}

/*我的资料-个人资料信息模块*/
#zhiliao .people-data .people-data-cont{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
}
#zhiliao .people-data .people-data-cont .people-data-tel{
    margin-top: 10px;
}
#zhiliao .people-data .people-data-cont .people-data-tel .people-data-tel1{
    margin-left: 30px;

}
#zhiliao .people-data .people-data-cont .people-data-tel .people-data-tel2{
     margin-left: 20px;

 }
#zhiliao .people-data .people-data-cont .people-data-tel .people-data-tel3{
    margin-left: 60px;
    color: #007ec3;

}


/*个人资料上传头像模块*/


#zhiliao .people-data .people-data-cont{

}
#zhiliao  .people-img{
    margin-top: 20px;
    width: 960px;
    border: 1px solid #b0c7e7;
}

#zhiliao .people-imgs-cont-tou{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
#zhiliao .people-imgs-cont-ipt{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#zhiliao .people-imgs-tijiao{
    float: left;
    margin-top: 20px;
}


.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}



/*头像上传控件*/
.people-imgs-cont{
    padding: 20px;




}
.contain {
    width: 400px;
    position: relative;
    font-family: 微软雅黑;
    font-size: 12px;
}
.contain p {
    line-height: 12px;
    line-height: 0px;
    height: 0px;
    margin: 10px;
    color: #bbb
}
.action {
    width: 300px;
    padding-left: 60px;
    height: 30px;
    margin: 10px 0;
}
.cropped {
    position: absolute;
    right: -484px;
    top: 62px;
    width: 500px;
    border: 1px #ddd solid;
    height: 200px;
    padding: 4px;
    box-shadow: 0px 0px 12px #ddd;
    text-align: center;
}
.cropped img{
    display: block;
    float: left;
}



.imageBox {
    position: relative;
    height: 300px;
    width: 300px;
    border: 1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    box-shadow: 4px 4px 12px #B0B0B0;
}
.imageBox .thumbBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.Btnsty_peyton {
    /* float: right; */
    width: 50px;
    display: inline-block;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin: 0px 2px;
    background-color: #eeeeee;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #bbbbbb;
}
/*选择文件上传*/
.new-contentarea {
    width:300px;
    overflow:hidden;
    margin: 0 auto;
    position:relative;float:left;
}
.new-contentarea label {
    width:100%;
    height:100%;
    display:block;
}
.new-contentarea input[type=file] {
    width: 188px;
    height: 30px;
    background: #333;
    position: absolute;
    right: 22%;
    top: 20px;
    right/*\**/: 0px\9;
    margin-right/*\**/: 0px\9;
    width/*\**/: 10px\9;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
}
a.upload-img{
    width:100px;
    display:block;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 20px;
    height:30px;
    line-height: 30px;
    font-size: 16px;
    background-color: #eeeeee;
    border-radius: 3px;
    text-decoration:none;
    cursor:pointer;
    border: 1px solid #bbbbbb;
}
a.upload-img:hover{
    background-color: #ec7e70;
}

.tc{text-align:center;}


/* 密码管理模块*/


#password .xiugai{
    border: 1px solid #b0c7e7;

}
#password .xiugai h4 {
    width: 958px;
    height: 30px;
    padding-left: 12px;
    background-color: #eaf2fd;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
}


#password .xiugai .xiugai-mima{
    height: 340px;
    padding-top: 40px;
    padding-left: 200px;
}

#password .xiugai .xiugai-mima .form-horizontal .form-control {
    width:360px;
}


#password .xiugai .xiugai-mima .form-horizontal .form-group .baocun {
    width: 360px;
    margin-left: 132px;
    margin-top: 30px;
    background-color: #027dc3;
    color: #fff;
    letter-spacing: 16px;

}

/*收获地址模块*/




/*系统消息模块*/

#xiaoxi h4{
    width: 958px;
    height: 30px;
    padding-left: 12px;
    background-color: #eaf2fd;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
    border: 1px solid #b0c7e7;

}
#xiaoxi .xiaoxi{
    width: 958px;
    margin-top: 10px;
    border: 1px solid #b0c7e7;
    padding-bottom: 30px;

}
#xiaoxi .xiaoxi .xiaoxi-title{
    height: 30px;
    line-height: 30px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 30px;


}
#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-1{
    font-weight: 600;
}
#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-1 input{
    height: 14px;
    width: 14px;
    margin-top: -2px;
    margin-right: 6px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-1 a{
    color: #027dc3;
    margin-left: 30px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-2 {
    margin-left: 176px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-3 {
    margin-left: 380px;
}

#xiaoxi .xiaoxi .xiaoxi-title .xiaoxi-4 {
    margin-left: 96px;
}

/*消息内容*/
#xiaoxi .xiaoxi .xiaoxi1-cont{
    padding-left: 10px;
    padding-top: 20px;
}
#xiaoxi .xiaoxi .xiaoxi1-cont input{
    height: 14px;
    width: 14px;
    margin-top: -2px;
    margin-right: 6px;
}

#xiaoxi .xiaoxi .xiaoxi1-cont .xiaoxi1-zhu a{
    color: #027dc3;
    margin-left: 30px;
}
#xiaoxi .xiaoxi .xiaoxi1-cont .xiaoxi1-time{
    float: right;
    margin-right: 174px;
}
#xiaoxi .xiaoxi .xiaoxi1-cont .xiaoxi1-delt a{
    float: right;
    margin-right: -188px;
    color: #027dc3;
}




