<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/daoyou.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--头部-->
<header id="header">

    <div class="container">
        <div class="row">
            <div class="col-md-4 ">吉首电子商务欢迎您</div>
            <div class="col-md-3 ">客服电话:400888888</div>
            <div class="col-md-5 ">
                <a href="cart.html " class="btn btn-link">购物车</a>
                <a href="#">欢迎：18575699888</a>
                <a href="zhanghu-1.html " class="btn btn-link">个人中心</a>
                <a href="" class="btn btn-link">退出</a>
            </div>
        </div>

    </div>
</header>
<!--头部区域-->
<!--头部轮播图-->
<section class="nav-base">
    <!--导航栏-->
    <nav id="nav" class="clearfix">
        <div class="container">
            <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
            <ul class="navs">

                <li ><a href="jingqu.html">景区</a></li>
                <li ><a href="jiudian.html">酒店</a></li>
                <li ><a href="techan.html">特产</a></li>
                <li class="diangzhitable" ><a href="dingzhi.html">行程定制</a></li>
                <li class="diangzhitable" ><a href="daoyoulist.html">预约导游</a></li>
                <li ><a href="meishi.html">美食</a></li>
            </ul>
            <!--搜索框-->
            <form class="nav-search">
                <input type="search" class="nav-search-ipt" placeholder="请输入搜索内容...">
                <button class="search-btn-btns"> <span class="search-btn_icon"></span></button>
            </form>


        </div>

    </nav>
</section>


<section class="container daoyou">
    <div class="daoyou-title">

        <a href="../index.html">首页</a>
        <span>></span>
        <a href="daoyou.html">预约导游</a>
        <span>></span>
        <a href="daoyou-1.html">预约导游详情</a>
    </div>
</section>

<!--导游介绍-->
<section class="daoyou-news">

   <div class="container">
       <div class="daoyou-left">
           <img src="../img/daoyou01.jpg" alt="导游头像"/>
       </div>
       <div class="daoyou-right">
           <div class="daoyou-name clearfix">
               <span class="daoyou-name1">李白</span>
               <span class="daoyou-name2">好评率</span>

               <div class="jiudian-newslf">
                   <div class="circle">
                       <div class="pie_left"><div class="left"></div></div>
                       <div class="pie_right"><div class="right"></div></div>
                       <div class="mask"><span>80</span>%</div>
                   </div>
                  <!-- <p class="newslfeord">好评率</p>-->
               </div>

               <span class="daoyou-name3">300元/天</span>
           </div>
           <p class="daoyou-work">
               李白在导游工作岗位上10年，工作态度认真。专业知识过硬。被誉为吉首十佳导游
               李白在导游工作岗位上10年，工作态度认真。专业知识过硬。被誉为吉首十佳导。
               李白在导游工作岗位上10年，工作态度认真。专业知识过硬。被誉为吉首十佳导游。
               李白在导游工作岗位上10年，工作态度认真。专业知识过硬。被誉为吉首十佳导游。
           </p>

           <div class="daoyou-yuyue">
               <div class="daoyou-yuyue1">
                   <p>带团时间：8年</p>
                   <p>预言：英语、普通话、当地方言</p>
                   <p>我的专长：摄影、攀岩、徒步、美食</p>
                   <p>个性签名：做自己喜欢做的事情</p>
               </div>
               <div class="daoyou-yuyue2">
                     <div class="jiudian-search">
                         <form action="" class="form-control1" method="get" name="formtime">


                             <label for="startDate" class="shangpin-label ">开始日期</label>
                             <input class="form-unit form-date hasDatepicker form-controlstart" id="startDate" name="startDate" type="text" >
                             <label for="endDate" class="shangpin-label">结束日期</label>
                             <input class="form-unit form-date hasDatepicker form-controlend" id="endDate" name="endDate"  type="text">
                             <a href="daoyou-dingdan.html" class="daoyou-buy">立即预约</a>
                         </form>
                     </div>
               </div>
           </div>

       </div>
   </div>
</section>


<!--门票订购信息-->
<section class="menpiao">
    <div class="container">
        <div class="menpiao-box">
            <div class="men men-li1 clearfix">

            </div>
            <div class="men men-li3">
                <div class="men-li3-title">用户评论</div>
                <div class="pingfen-x">
                    <span class="pingfen-x0">整体评分：</span>
                    <span class="pingfen-x1">4.5</span>
                    <span class="pingfen-x2">/5分</span>
                </div>


                <div class="jiudian-pinglun">
                    <div class="jiudian-pingluncont">
                        <span class="pingluncont1">全部</span>
                        <span class="pingluncont2">晒图评价</span>
                        <select class="pinglun-check"  name="">
                            <option value="0">默认排序</option>
                            <option value="1">好评</option>
                            <option value="2">差评</option>
                        </select>
                    </div>

                    <div class="jiudian-pinglunPeople clearfix">
                        <div class="jidian-pinglunImg ">
                            <img src="../img/userheader.jpg" alt=""/>
                            <p>00001</p>
                        </div>

                        <div class="jidian-pinglunright ">
                            <div class="pinglunright-time">
                                <img src="../img/star1.jpg" alt="五星好评"/>
                                <span>2017-7-8</span>
                            </div>
                            <div class="pinglunright-word">
                                <p>
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                </p>

                            </div>
                            <div class="huifu">
                                <span>商家回复:</span>
                                <span>感谢您的支持，我们会更加努力哒</span>
                            </div>



                        </div>


                    </div>

                    <div class="jiudian-pinglunPeople clearfix">
                        <div class="jidian-pinglunImg ">
                            <img src="../img/userheader.jpg" alt=""/>
                            <p>00001</p>
                        </div>
                        <div class="jidian-pinglunright ">
                            <div class="pinglunright-time">
                                <img src="../img/star1.jpg" alt="五星好评"/>
                                <span>2017-7-8</span>
                            </div>
                            <div class="pinglunright-word">
                                <p>
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                </p>
                            </div>
                            <div class="pinglunright-img">
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg2.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="jiudian-pinglunPeople clearfix">
                        <div class="jidian-pinglunImg ">
                            <img src="../img/userheader.jpg" alt=""/>
                            <p>00001</p>
                        </div>

                        <div class="jidian-pinglunright ">
                            <div class="pinglunright-time">
                                <img src="../img/star1.jpg" alt="五星好评"/>
                                <span>2017-7-8</span>
                            </div>
                            <div class="pinglunright-word">
                                <p>
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <a href="#" class="footer-tab" id="tab1"> <span class="footer-tab-sp footer-im1  shows1"></span>景区</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab2"> <span class="footer-tab-sp footer-im2  shows2"></span>酒店</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab3"> <span class="footer-tab-sp footer-im3  shows3"></span>特产</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab5"> <span class="footer-tab-sp footer-im5  shows5"></span>预约导游</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab4"> <span class="footer-tab-sp footer-im4  shows4"></span>美食</a>
        </div>
        <div class="footer-t">
            <div class="footer-con wrap">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd>

                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="#">如何注册</a></dd>
                    <dd><a href="#">免费注册</a></dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="#">了解吉首</a></dd>
                    <dd><a href="#">走进吉首</a></dd>
                    <dd><a href="#">吉首故事</a></dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd><a href="#">微信公众号</a></dd>
                    <dd><a href="#">官方微博</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#">机票预订</a></dd>
                    <dd><a href="#">火车票预订</a></dd>
                </dl>

                <div class="lines"></div>
                <div class="erweima">
                    <span class="tel">400-888-8888</span>
                    <span class="time">周一至周五8:00-18:00</span>
                    <span class="kefu">在线客服</span>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <p class="wrap">版权所有 2006 - 2018 深圳赛为智能股份有限公司   京ICP备08001421号京公网安备110108007702</p>
        </div>
    </div>
</footer>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../lib/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $('.circle').each(function (index, el) {
                var num = $(this).find('span').text() * 3.6;
                console.log(num);
                if (num <= 180) {
                    $(this).find('.right').css('transform', "rotate(" + num + "deg)");
                } else {
                    $(this).find('.right').css('transform', "rotate(180deg)");
                    $(this).find('.left').css('transform', "rotate(" + (num - 180) + "deg)");
                }
                ;
            });
        });


        /*选择日期插件*/

        $('.form-controlstart').datepicker({
            datesDisabled: ['2017-7-28', '2017-7-30'],
            todayHighlight: true,
            language: "zh-CN",
            startDate:new Date()

        }).on('changeDate', function(e) {
            var newDate =$(".form-controlstart").datepicker("getDate");//获取
            $(".form-controlend").datepicker("setStartDate", newDate).data('datepicker');//设置
            $(".form-controlend").datepicker("setDate", newDate).data('datepicker');//设置
            console.log(newDate);
        }).data('datepicker');

        $('.form-controlend').datepicker({
            datesDisabled: ['2017-7-28', '2017-7-30'],
            todayHighlight: true,
            language: "zh-CN"
        });


/*获取当天日期*/
        var ddd = new Date();
        var day =ddd.getDate();
        var day1=ddd.getDate()+1;
        if(ddd.getMonth()<10){
            var month = "0"+(ddd.getMonth()+1);
        }

        if(ddd.getDate()<10){
            day = "0"+ddd.getDate();
        }
        if(day1<10){
            day1 = "0"+day1;
        }
        var datew = ddd.getFullYear()+"-"+month+"-"+day;
        var dateend= ddd.getFullYear()+"-"+month+"-"+day1;
        var datew = datew.toString();
        var dateend=dateend.toString();
        $("#startDate").val(datew);
        $("#endDate").val(dateend);



        /*加载更多的内容js*/
        (function ($) {
            var pos = 0;
            var LIST_ITEM_SIZE = 100;
            //滚动条距底部的距离
            var BOTTOM_OFFSET = 0;
            $(document).ready(function () {
                $(window).scroll(function () {
                    var $currentWindow = $(window);
                    //当前窗口的高度
                    var windowHeight = $currentWindow.height();
                    console.log("current widow height is " + windowHeight);
                    //当前滚动条从上往下滚动的距离
                    var scrollTop = $currentWindow.scrollTop();
                    console.log("current scrollOffset is " + scrollTop);
                    //当前文档的高度
                    var docHeight = $(document).height();
                    console.log("current docHeight is " + docHeight);

                    //当 滚动条距底部的距离 + 滚动条滚动的距离 >= 文档的高度 - 窗口的高度
                    //换句话说：（滚动条滚动的距离 + 窗口的高度 = 文档的高度）  这个是基本的公式
                    if ((BOTTOM_OFFSET + scrollTop) >= docHeight - windowHeight) {
                        nextpageList();
                    }
                });
            });

            function nextpageList() {
                alert("nihao");
            }
        })(jQuery);
    })

</script>

</body>
</html>