<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>找回密码</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhuche.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--头部-->
<header class="header container">
    <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
    <h3>吉首电子商务网站</h3>
</header>

<section class="container zhaohuimima">

    <div class="zhaohuimima-cont">
        <h4 class="back-mima">重置密码</h4>
        <form>
            <div class="form-group form-3">
                <label for="exampleInputPassword1">新密码</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
            </div>
            <div class="form-group form-4">
                <label for="dablePassword1">密码确认</label>
                <input type="password" class="form-control" id="dablePassword1" placeholder="密码确认">
            </div>
            <a href="denglu-zhaohuimima2.html" type="submit" class="btn btn-default">重置</a>
        </form>
    </div>


</section>
<footer>
<div class="footer-b">
    <p class="wrap">版权所有 2006 - 2018 深圳赛维智能有限公司   京ICP备08001421号京公网安备110108007702</p>
</div>
</footer>

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>