<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>找回密码</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhuche.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--头部-->
<header class="header container">
    <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
    <h3>吉首电子商务网站</h3>
</header>

<section class="container zhaohuimima">

    <div class="zhaohuimima-cont">
        <h4 class="back-mima">找回密码</h4>
        <form action="">
            <div class="form-group form-1">
                <label for="exampleInputEmail1">手机号/邮箱</label>
                <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="手机号">
            </div>
            <div class="form-group form-2">
                <label for="yanzhengma1">验证码</label>
                <input type="text" class="form-control clearfix" id="yanzhengma1" placeholder="验证码">
                <input type="button" class="button clearfix" value="免费获取验证码"/>
            </div>
            <a href="denglu-zhaohuimima1.html" class="btn btn-default">下一步，重置密码</a>
        </form>
    </div>


</section>
<footer>
<div class="footer-b">
    <p class="wrap">版权所有 2006 - 2018 深圳赛为智能有限公司   京ICP备08001421号京公网安备110108007702</p>
</div>
</footer>

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>