<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>找回密码</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhuche.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<!--头部-->
<header class="header container">
    <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
    <h3>吉首电子商务网站</h3>
</header>

<section class="container zhaohuimima">
    <div class="zhaohuimima-cont">

        <p class="ok-title">密码重置成功</p>
        <span id="jumpTo">5</span>
        <span>秒后自动跳转到登录界面，没有跳转，点击</span>
        <a href="denglu.html" class="jump">立即登录</a>
    <script type="text/javascript">
        function countDown(secs,surl){
            //alert(surl);
            var jumpTo = document.getElementById('jumpTo');
            jumpTo.innerHTML=secs;
            if(--secs>0){
                setTimeout("countDown("+secs+",'"+surl+"')",1000);
            }
            else{
                location.href=surl;
            }
        }

        countDown(5,'denglu.html');
    </script>


</div>
</section>
<footer>
<div class="footer-b">
    <p class="wrap">版权所有 2006 - 2018 深圳赛维智能有限公司   京ICP备08001421号京公网安备110108007702</p>
</div>
</footer>

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>