<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/jingqu-more.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=D2d2d2a3b3b5405b6b74b49173fd899a"></script>
</head>
<body>

<!--头部-->
<header id="header">

    <div class="container">
        <div class="row">
            <div class="col-md-6 ">吉首电子商务欢迎您</div>
            <div class="col-md-2 ">客服电话:400888888</div>

            <div class="col-md-4 ">
                <a href="zhanghu-1.html " class="btn btn-link">个人中心</a>
                <a href="#">收藏</a>
                <a href="zhuche.html" class="btn btn-link ">注册</a>
                <a href="denglu.html" class="btn btn-link ">登录</a>
            </div>
        </div>

    </div>

</header>
<!--头部区域-->
<!--头部轮播图-->
<section class="nav-base">
    <!--导航栏-->
    <nav id="nav" class="clearfix">
        <div class="container">
            <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
            <ul class="navs">
                <li ><a href="jingqu.html">景区</a></li>
                <li ><a href="#">酒店</a></li>
                <li ><a href="#">特产</a></li>
                <li ><a href="#">美食</a></li>
                <li ><a href="#">票务</a></li>
            </ul>

            <!--搜索框-->
            <form class="nav-search">
                <input type="search" class="nav-search-ipt" placeholder="请输入搜索内容...">
                <button class="search-btn-btns"> <span class="search-btn_icon"></span></button>
            </form>


        </div>

    </nav>
</section>
<!--景区门票-->


<section class="jingqu container">
    <div class="jingqu-title">

        <a href="../index.html">首页</a>
        <span>></span>
        <a href="jingqu.html">景区</a>
        <span>></span>
        <a href="jingqu-2more.html">景区详情</a>
    </div>
    <!--景点介绍-->

    <div class="jingqu-list">
        <div class="nav-tab pull-left">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active"id="home"><img src="../img/3tab-big1.jpg" alt=""/></div>
                    <div role="tabpanel" class="tab-pane" id="profile"> <img src="../img/3tab-big2.jpg" alt=""/></div>
                    <div role="tabpanel" class="tab-pane" id="messages"><img src="../img/3tab-big3.jpg" alt=""/></div>
                    <div role="tabpanel" class="tab-pane" id="settings"><img src="../img/3tab-big1.jpg" alt=""/></div>
                </div>
                
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="tablist-small  active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img src="../img/3tab-big1.jpg" alt=""/></a></li>
                  <li role="presentation" class="tablist-small"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">  <img src="../img/3tab2.jpg" alt=""/></a></li>
                  <li role="presentation" class="tablist-small"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="../img/3tab3.jpg" alt=""/></a></li>
                  <li role="presentation" class="tablist-small"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><img src="../img/3tab1.jpg" alt=""/></a></li>
                </ul>

        </div>



        <div class="list-content pull-left">
            <div class="list-name"><span class="list-tit">矮寨大桥</span></div>

            <p class="dengji">等级：4A景区</p>
           <span class="list-words">矮寨特大悬索桥，桥面设计标高与地面高差达330米左右。全长1073.65米，悬索桥的主跨为1176米。该桥跨越矮寨大峡谷，主跨居世界第三、亚洲第一。 四项世界第一
               矮寨特大悬索桥，桥面设计标高与地面高差达330米左右。全长1073.65米，悬索桥的主跨为1176米。
                <a href="" target="_blank">详情...</a>
            </span>
            <p>景区地址：中国，湘西，吉首</p>
            <span>营业时间：全年开放，景区开园时间7:30，售票时间 :早上7:00--下午14:00，14:00以后停止办理看桥手续</span>

            <div class="list-buy">
                <i class="glyphicon glyphicon-heart"></i>
                <span>收藏</span>
               <!-- <a href="#" target="_blank">点击预订</a>-->
            </div>
        </div>
    </div>

</section>

<!--门票订购信息-->
<section class="menpiao">
    <div class="container">

        <ul class="menpiao-top" id="menpiao-top">
            <li class="menpiao-nav active">订票</li>
            <li class="menpiao-nav">订票须知</li>
            <li class="menpiao-nav">景区详情</li>
            <li class="menpiao-nav">交通信息</li>
        </ul>
        <div class="menpiao-box">
        <div class="men men-li1 clearfix">

            <div class="men-li1-content">
                <div class="men-li1-title">
                    <span class="men-li1-0">票类</span>
                    <span class="men-li1-1">票种</span>
                    <span class="men-li1-2">票面价</span>
                    <span class="men-li1-3">市场价</span>
                </div>

                <div class="li1-right">
                        <!-- 列表容器内部 -->

                                <div class="pro-body-des pro-body-des-text">
                                    <div class="pro-text-one">
                                    <span class="pro-lei">全年套票</span>
                                    <span class="pro-news">含：门票及观光车</span>
                                    </div>
                                    <span class="pro-text-two">成人票</span>
                                    <span class="pro-text-three">188</span>
                                    <span class="pro-text-four">288</span>


                                    <div class="pro-body-des-con">
						                <span id="jian1" class="jian">-</span>
                                        <span id="shu" class="shu">0</span>
						                <span id="jia" class="jia">+</span>
                                    </div>
                                    <a href="jingqu-3dingdan.html"  class="li1-buy">立即预订</a>
                                </div>

                    <div class="pro-body-des pro-body-des-text">
                        <div class="pro-text-one">
                            <span class="pro-lei">全年套票</span>
                            <span class="pro-news">含：门票及观光车</span>
                        </div>
                        <span class="pro-text-two">成人票</span>
                        <span class="pro-text-three">188</span>
                        <span class="pro-text-four">288</span>


                        <div class="pro-body-des-con">
						                <span id="jian1" class="jian">
						                	-
						                </span>
                            <span id="shu" class="shu">0</span>
						                <span id="jia" class="jia">
						                	+
						                </span>
                        </div>
                        <a href="jingqu-3dingdan.html"  class="li1-buy">立即预订</a>
                    </div>
                    <div class="pro-body-des pro-body-des-text">
                        <div class="pro-text-one">
                            <span class="pro-lei">全年套票</span>
                            <span class="pro-news">含：门票及观光车</span>
                        </div>
                        <span class="pro-text-two">成人票</span>
                        <span class="pro-text-three">188</span>
                        <span class="pro-text-four">288</span>


                        <div class="pro-body-des-con">
						                <span id="jian1" class="jian">
						                	-
						                </span>
                            <span id="shu" class="shu">0</span>
						                <span id="jia" class="jia">
						                	+
						                </span>
                        </div>
                        <a href="jingqu-3dingdan.html"  class="li1-buy">立即预订</a>
                    </div>


                    <div class="pro-body-des pro-body-des-text">
                        <div class="pro-text-one">
                            <span class="pro-lei">全年套票</span>
                            <span class="pro-news">含：门票及观光车</span>
                        </div>
                        <span class="pro-text-two">成人票</span>
                        <span class="pro-text-three">188</span>
                        <span class="pro-text-four">288</span>


                        <div class="pro-body-des-con">
						                <span id="jian1" class="jian">
						                	-
						                </span>
                            <span id="shu" class="shu">0</span>
						                <span id="jia" class="jia">
						                	+
						                </span>
                        </div>
                        <a href="jingqu-3dingdan.html"  class="li1-buy">立即预订</a>
                    </div>


                    <div class="pro-body-des pro-body-des-text">
                        <div class="pro-text-one">
                            <span class="pro-lei">全年套票</span>
                            <span class="pro-news">含：门票及观光车</span>
                        </div>
                        <span class="pro-text-two">成人票</span>
                        <span class="pro-text-three">188</span>
                        <span class="pro-text-four">288</span>


                        <div class="pro-body-des-con">
						                <span id="jian1" class="jian">
						                	-
						                </span>
                            <span id="shu" class="shu">0</span>
						                <span id="jia" class="jia">
						                	+
						                </span>
                        </div>
                        <a href="jingqu-3dingdan.html"  class="li1-buy">立即预订</a>
                    </div>


                    <div class="pro-body-des pro-body-des-text">
                        <div class="pro-text-one">
                            <span class="pro-lei">全年套票</span>
                            <span class="pro-news">含：门票及观光车</span>
                        </div>
                        <span class="pro-text-two">成人票</span>
                        <span class="pro-text-three">188</span>
                        <span class="pro-text-four">288</span>


                        <div class="pro-body-des-con">
						                <span id="jian1" class="jian">
						                	-
						                </span>
                            <span id="shu" class="shu">0</span>
						                <span id="jia" class="jia">
						                	+
						                </span>
                        </div>
                        <a href="jingqu-3dingdan.html"  class="li1-buy">立即预订</a>
                    </div>
                </div>
            </div>


        </div>


        <!--订票须知-->
        <div class="men men-li2">
            <div class="men-li2-title">订票须知</div>
            <div class="men-li2-content">
                <h4>预订时间</h4>
                <p> 最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <h4>预订说明</h4>
                <p>1、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>2、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>3、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（一）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（二）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（三）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>

                <p>4、免费对象针对以下群体</p>
                <p>（一）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（二）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（三）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（四）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>

            </div>
        </div>


<!--第三段景区详情-->
        <div class="men men-li3">
            <div class="men-li3-title">景区详情</div>
            <div class="men-li3-content">
                <h4>矮寨大桥</h4>
                <p> 吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。</p>
                <h4>预订说明</h4>
                <p>1、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>2、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>3、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（一）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（二）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（三）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>

                <p>4、免费对象针对以下群体</p>
                <p>（一）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（二）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（三）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>
                <p>（四）、最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订最早可提前90天网上预订</p>

            </div>



        </div>

            <!--第四部分地图导航-->
        <div class="men men-li4">

            <div class="men-li4-title">地图导航</div>
            <div class="men-li4-content">
                <div id="allmap"></div>
                <h4>公交路线</h4>
                <p>站名：矮寨大桥站：16、旅游观光巴士、335、222、555、360、</p>

            </div>



        </div>
      </div>


    </div>

</section>




<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <a href="#" class="footer-tab" id="tab1"> <span class="footer-tab-sp footer-im1  shows1"></span>景区</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab2"> <span class="footer-tab-sp footer-im2  shows2"></span>酒店</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab3"> <span class="footer-tab-sp footer-im3  shows3"></span>特产</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab4"> <span class="footer-tab-sp footer-im4  shows4"></span>美食</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab5"> <span class="footer-tab-sp footer-im5  shows5"></span>票务</a>
        </div>
        <div class="footer-t">
            <div class="footer-con wrap">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd>

                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="#">如何注册</a></dd>
                    <dd><a href="#">免费注册</a></dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="#">了解吉首</a></dd>
                    <dd><a href="#">走进吉首</a></dd>
                    <dd><a href="#">吉首故事</a></dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd><a href="#">微信公众号</a></dd>
                    <dd><a href="#">论坛</a></dd>
                    <dd><a href="#">官方微博</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#">机票预订</a></dd>
                    <dd><a href="#">车票预订</a></dd>
                    <dd><a href="#">酒店门票</a></dd>
                </dl>

                <div class="lines"></div>
                <div class="erweima">
                    <span class="tel">400-888-8888</span>
                    <span class="time">周一至周五8:00-18:00</span>
                    <span class="kefu">24小时在线客服</span>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <p class="wrap">版权所有 2006 - 2018 深圳赛为智能有限公司   京ICP备08001421号京公网安备110108007702</p>
        </div>
    </div>
</footer>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/main.js"></script>
<script type="text/javascript">

</script>

</body>
</html>