<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>

    #parse("common/link.vm")
    <link rel="stylesheet" href="../css/dingzhi.css"/>
    <link rel="stylesheet" href="../css/cart.css"/>

    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--头部-->
<header id="header">



</header>
<!--头部区域-->

<!--头部轮播图-->

<!--景区门票-->


<section class="cart container">
    <div class="cart-title">

        <a href="$R.toIndex">首页></a>
        <a href="$!R.personIframe">个人中心></a>
        <a href="">购物车</a>
    </div>


    <div class="cart-title1 clearfix">
        <h4>全部商品</h4>
        <div class="buy1">
            <span>已选商品（不含运费）：</span>
            <span class="all-money1" id="topTotalPrice">$!realTotalPrice</span>
            <a href="javascript:void(0)" onclick="checkoutsFun()">结算</a>
        </div>
    </div>
    <div class="cart-title2 clearfix">
        <ul>
            <li class="title2-1">
                <div class="checkbox">
                    <label>
                        <input class="title-chexk" type="checkbox">全选
                    </label>
                </div>
                <span class="shop1">商品信息</span>
            </li>
            <li class="title2-2">单价</li>
            <li class="title2-3">数量</li>
            <li class="title2-4">金额</li>
            <li class="title2-5">操作</li>
        </ul>
    </div>


    <!-- 店铺-->


        <div class="cart-cont clearfix dianpu" id="${shop.shopId}">

            <div class="shop clearfix">
                <div class="checkbox">
                    <label>
                        <input class="funcClass fathercheck"  type="checkbox" id="DP${shop.shopId}"  >店铺
                    </label>
                </div>
                <span>$!shop.name</span>
            </div>


            <div class="commodity" id="DP${shop.shopId}Child">


                    <div class="commodity1 clearfix shangPinClass" id="goodsId01">
                        <ul class="">
                            <li class="title2-1  title2-1x">
                                <input class="shop-check funcClass childcheck" name="shangpin" type="checkbox" />
                                <img class="shop-img" src="../img/commodity_01_80x80.jpg" alt="商品图片"/>
                                <p class="shop-news">$!goods.name</p>
                            </li>
                            <li class="title2-2">
                                <p class="onePrice">$goods.originalPrice</p>
                                <p class="twoPrice">$goods.currentPrice</p>




                            </li>
                            <li class="title2-3">

                                <div class="pro-body-des-con clearfix">
                                                <span id="jian1" class="jian">
                                                    -
                                                </span>
                                    <span id="shu" class="shu">$!goods.shoppingCarNum</span>
                                                <span id="jia" class="jia">
                                                    +
                                                </span>
                                </div>
                            </li>
                            <li class="title2-4"><p>99.00</p></li>
                            <li class="title2-5"><a href="#">删除</a></li>
                        </ul>
                    </div>

                <div class="commodity1 clearfix shangPinClass" id="goodsId02">
                    <ul class="">
                        <li class="title2-1  title2-1x">
                            <input class="shop-check funcClass childcheck" name="shangpin" type="checkbox" />
                            <img class="shop-img" src="../img/commodity_01_80x80.jpg" alt="商品图片"/>
                            <p class="shop-news">$!goods.name</p>
                        </li>
                        <li class="title2-2">
                            <p class="onePrice">$goods.originalPrice</p>
                            <p class="twoPrice">$goods.currentPrice</p>




                        </li>
                        <li class="title2-3">

                            <div class="pro-body-des-con clearfix">
                                                <span id="jian1" class="jian">
                                                    -
                                                </span>
                                <span id="shu" class="shu">$!goods.shoppingCarNum</span>
                                                <span id="jia" class="jia">
                                                    +
                                                </span>
                            </div>
                        </li>
                        <li class="title2-4"><p>99.00</p></li>
                        <li class="title2-5"><a href="#">删除</a></li>
                    </ul>
                </div>
                <div class="commodity1 clearfix shangPinClass" id="goodsId03">
                    <ul class="">
                        <li class="title2-1  title2-1x">
                            <input class="shop-check funcClass childcheck" name="shangpin" type="checkbox" />
                            <img class="shop-img" src="../img/commodity_01_80x80.jpg" alt="商品图片"/>
                            <p class="shop-news">$!goods.name</p>
                        </li>
                        <li class="title2-2">
                            <p class="onePrice">$goods.originalPrice</p>
                            <p class="twoPrice">$goods.currentPrice</p>




                        </li>
                        <li class="title2-3">

                            <div class="pro-body-des-con clearfix">
                                                <span id="jian1" class="jian">
                                                    -
                                                </span>
                                <span id="shu" class="shu">$!goods.shoppingCarNum</span>
                                                <span id="jia" class="jia">
                                                    +
                                                </span>
                            </div>
                        </li>
                        <li class="title2-4"><p>99.00</p></li>
                        <li class="title2-5"><a href="#">删除</a></li>
                    </ul>
                </div>

            </div>

        </div>









    <!---->

    <div class="cart-buy">
        <div class="cart-buyleft">
            <span class="cart-buy1">继续购物</span>
            <span class="cart-buy2x">共</span>
            <span class="cart-buy2">18</span>
            <span>件商品，已选择</span>
            <span class="cart-buy2" id="totalQty">8</span>
            <span>件</span>
        </div>
        <div class="cart-buyright">
            <span class="cart-buy3">合计（不含运费）：</span>
            <span class="cart-buy4" id="zongJinE">$!realTotalPrice</span>
            <span class="cart-buy3">元</span>
            <a href="javascript:void(0)" onclick="checkoutsFun()">去结算</a>
        </div>
    </div>




</section>


<script>
    $(document).ready(function() {

        var jian = document.getElementsByClassName('jian');
        var shu = document.getElementsByClassName('shu');
        var jia = document.getElementsByClassName('jia');
        for (var i = 0; i < jia.length; i++) {
            jian[i].shu = shu[i];
            jia[i].shu = shu[i];
            jia[i].jian = jian[i];
            jian[i].onclick = function () {

                var n = parseInt(this.shu.innerHTML)
                if (n > 0) {
                    n--;
                }
                if (n == 0) {
                    this.class = 'jian1';
                }
                this.shu.innerHTML = n;
                handlerTotalPrice();
            };
            jia[i].onclick = function () {

                var n = parseInt(this.shu.innerHTML)
                n++;
                this.shu.innerHTML = n;
                this.jian.class = 'jian2';
                handlerTotalPrice();
            };
        }

        function handlerTotalPrice(){

            var totalQty = 0;
            var totalPrice = 0;
            $(".shangPinClass").each(function(){
                var goodsid = $(this).attr("id");
                if($("#"+goodsid).find(".childcheck").is(":checked")){
                    var originalPrice = $("#"+goodsid).find(".onePrice").text();
                    var goodsPrice = $("#"+goodsid).find(".twoPrice").text();

                    var goodsQty = $("#"+goodsid).find(".shu").text();
                    totalQty += parseInt(goodsQty);
                    totalPrice  += parseFloat(goodsPrice) * parseInt(goodsQty);

                }
            });
            $("#zongJinE").text(totalPrice);
            $("#topTotalPrice").text(totalPrice);
            $("#totalQty").text(totalQty);
        }

        /*店铺商品全选单选*/
        function checkedadd(father, child) {

            $(father).click(function () {
                //判断当前点击的复选框处于什么状态$(this).is(":checked") 返回的是布尔类型
                if ($(this).is(":checked")) {
                    $(child).prop("checked", true);
                } else {
                    $(child).prop("checked", false);
                }
            });
        };


        checkedadd(".title-chexk", ".funcClass");


        $(".fathercheck").each(function(){
            var shopId = $(this).attr("id");
            checkedadd("#"+shopId, "#"+shopId + "Child" + " .childcheck");
        });

        $("input:checkbox").each(function(){
            $(this).click(function(){
                handlerTotalPrice();
            });
        });


    });

    function checkoutsFun(){

        var userList= new Array();
        $(".shangPinClass").each(function(){
            var goodsid = $(this).attr("id");
            if($("#"+goodsid).find(".childcheck").is(":checked")){
                var originalPrice = $("#"+goodsid).find(".onePrice").text();
                var goodsPrice = $("#"+goodsid).find(".twoPrice").text();
                var goodsQty = $("#"+goodsid).find(".shu").text();
                var goodsItem =  {"goodsId":goodsid,"goodsPrice":goodsPrice,"originalPrice":originalPrice,"buyQty":goodsQty};
                userList.push(goodsItem);
            }
        });



        var totalprice = $("#zongJinE").text();

        var totalQty = parseInt($("#totalQty").text());

        if(totalQty >0){

            //发送结算请求
            $.ajax({
                url:'$!R.checkouts',
                type:"post",
                data:JSON.stringify(userList),
                dataType:"json",
                contentType:"application/json",
                success:function(data){
                    if(data.status){
                        alert("生成订单成功");
                        var url='$!{R.orderPay}'+'?orderCode='+data.orderCode +'&totalPrice='+data.realTotalPrice;
                        window.open(url);
                    }else{
                        var msg=data.message;
                        alert("结算出错!");

                    }
                },error:function(data){
                    alert("返回出错");
                }
            });
        }

        return false;
    }

</script>


</body>
</html>