<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/jingqu-more.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--头部-->
<header id="header">

    <div class="container">
        <div class="row">
            <div class="col-md-6 ">吉首电子商务欢迎您</div>
            <div class="col-md-2 ">客服电话:400888888</div>

            <div class="col-md-4 ">
                <a href="zhanghu-1.html " class="btn btn-link">个人中心</a>
                <a href="#">收藏</a>
                <a href="zhuche.html" class="btn btn-link ">注册</a>
                <a href="denglu.html" class="btn btn-link ">登录</a>
            </div>
        </div>

    </div>

</header>
<!--头部区域-->
<!--头部轮播图-->
<section class="nav-base">
    <!--导航栏-->
    <nav id="nav" class="clearfix">
        <div class="container">
            <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
            <ul class="navs">
                <li ><a href="jingqu.html">景区</a></li>
                <li ><a href="jiudian.html">酒店</a></li>
                <li ><a href="techan.html">特产</a></li>
                <li ><a href="meishi.html">美食</a></li>
                <li ><a href="jiaotong.html">交通</a></li>
                <li ><a href="dingzhi.html">行程定制</a></li>
                <li ><a href="daoyoulist.html">预约导游</a></li>
            </ul>

            <!--搜索框-->
            <form class="nav-search">
                <input type="search" class="nav-search-ipt" placeholder="请输入搜索内容...">
                <button class="search-btn-btns"> <span class="search-btn_icon"></span></button>
            </form>


        </div>

    </nav>
</section>
<!--景区门票-->


<section class="jingqu container">
    <div class="jingqu-title">

        <a href="../index.html">首页</a>
        <span>></span>
        <a href="techan.html">特产</a>
        <span>></span>
        <a href="techan-2more.html">特产详情</a>
    </div>
    <!--景点介绍-->

    <div class="jingqu-list jiudian-list ">
        <div class="nav-tab pull-left">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active"id="home"><img src="../img/techan02.jpg" alt=""/></div>
                <div role="tabpanel" class="tab-pane" id="profile"> <img src="../img/techan03.jpg" alt=""/></div>
                <div role="tabpanel" class="tab-pane" id="messages"><img src="../img/techan04.jpg" alt=""/></div>
                <div role="tabpanel" class="tab-pane" id="settings"><img src="../img/techan05.jpg" alt=""/></div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="tablist-small  active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img src="../img/techansm02.jpg" alt=""/></a></li>
                <li role="presentation" class="tablist-small"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">  <img src="../img/techansm03.jpg" alt=""/></a></li>
                <li role="presentation" class="tablist-small"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="../img/techansm04.jpg" alt=""/></a></li>
                <li role="presentation" class="tablist-small"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><img src="../img/techansm05.jpg" alt=""/></a></li>
            </ul>
            </div>




        <div class="techan-content pull-left">
            <h4 class="techan-name">吉首特产猕猴桃  批发包邮</h4>

            <div class="positionx">
                <span class="positionword">价格</span>
                <span class="positionwordx">¥188</span>
            </div>


            <div class="telephonex">
                <span class="tel-nmbx">促销价</span>
                <span class="techan-nmb">¥98.55</span>
            </div>
            <div class="positionx">
                <span class="positionword">运费</span>
                <span class="positionwordn">快递：¥18</span>
            </div>

            <div class="techan-newsx">
                <div class="techan-newslfx">
                   <span class="techan-newslfx1">月销量</span>
                   <span class="techan-newslfx2">1008</span>
                </div>
                <div class="techan-nubx">
                    <span class="techan-newslfx1">累计评价</span>
                    <span class="techan-newslfx2">1008</span>
                </div>
            </div>

            <div class="techan-kuchun">
                <p class="techan-kuchun1">数量</p>

                <div class="pro-body-des-con">
                    <span id="jian1" class="jian">-</span>
                    <span id="shu" class="shu">0</span>
                    <span id="jia" class="jia">+</span>
                </div>
                <span class="techan-kuchun2">库存88888件</span>
            </div>
            
            <div class="techan-buymast">
                <a class="techan-buy1" href="techan-3dingdan.html">立即购买</a>
                <a class="techan-cart" href="cart.html">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    加入购物车</a>
            </div>
            
            
        </div>
    </div>

</section>

<!--门票订购信息-->
<section class="menpiao">
    <div class="container">
        <ul class="menpiao-top" id="menpiao-top">
            <li class="menpiao-nav active">产品参数</li>
            <li class="menpiao-nav">产品介绍</li>
            <li class="menpiao-nav">购买通知</li>
            <li class="menpiao-nav">店铺介绍</li>
            <li class="menpiao-nav">用户评论</li>
        </ul>
        <div class="menpiao-box">
            <div class="men men-li1 techan-lis1 clearfix">
                    <table class="table table-striped">
                        <tr class="techan-title">
                            <td class="techan-title1">商品名称</td>
                            <td>猕猴桃</td>
                            <td class="techan-title1">规格</td>
                            <td>10小包</td>
                        </tr>
                        <tr>
                            <td class="techan-title1">保质期</td>
                            <td>7天</td>
                            <td class="techan-title1">产地</td>
                            <td>湖南吉首</td>
                        </tr>
                        <tr>
                            <td  class="techan-title1">净含量</td>
                            <td>1500g</td>
                            <td class="techan-title1">商品编号</td>
                            <td>10008</td>
                        </tr>
                    </table>

            </div>


            <!--订票须知-->
            <div class="men men-li2">
                <div class="men-li2-title">产品介绍</div>
                <div class="men-li2-content">
                    <img class="techan-img" src="../img/techan06.jpg" alt="产品介绍"/>
                    <img class="techan-img" src="../img/techan07.jpg" alt="产品介绍"/>
                    <img class="techan-img" src="../img/techan08.jpg" alt="产品介绍"/>
                </div>
            </div>


            <!--第三段景区详情-->
            <div class="men men-li3">
                <div class="men-li3-title">购买须知</div>
                <div class="men-li3-content1">
                    <ul>
                        <li>1、收到商品，请当面验货。</li>
                        <li>1、收到商品，请当面验货。</li>
                        <li>1、收到商品，请当面验货。</li>
                        <li>1、收到商品，请当面验货。</li>
                        <li>1、收到商品，请当面验货。</li>
                        <li>1、收到商品，请当面验货。</li>
                    </ul>

                </div>
            </div>

            <!--第三段景区详情-->
            <div class="men men-li3">
                <div class="men-li3-title">店铺介绍</div>
                <div class="men-li3-content">
                    <ul>
                        <li>联系方式</li>
                        <li>电话18888888</li>
                        <li>基本信息</li>
                        <li></li>
                        <li>酒店简介</li>
                        <li>酒店设施</li>
                        <li class="clearfix">
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>停车场</span> </p>
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>停车场</span> </p>
                            <p class="sheshi-lis"><span class="">✔</span><span>游泳池</span> </p>
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>停车场</span> </p>
                            <p class="sheshi-lis"><span class="">✔</span><span>停车场</span> </p>
                        </li>
                        <li class="clearfix">
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>免费宽带</span> </p>
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>停车场</span> </p>
                            <p class="sheshi-lis"><span class="">✔</span><span>游泳池</span> </p>
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>空调</span> </p>
                            <p class="sheshi-lis"><span class="">✔</span><span>停车场</span> </p>
                        </li>
                        <li class="clearfix">
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>叫醒服务</span> </p>
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>停车场</span> </p>
                            <p class="sheshi-lis"><span class="">✔</span><span>游泳池</span> </p>
                            <p class="sheshi-lis"><span class="sheshi-ok">✔</span><span>桑拿</span> </p>
                            <p class="sheshi-lis"><span class="">✔</span><span>停车场</span> </p>
                        </li>
                    </ul>

                </div>
            </div>

            <!--第四部分地图导航-->


            <div class="men men-li4">
                <div class="men-li4-title">用户评论</div>
                <div class="pingfen-x">
                    <span class="pingfen-x0">整体评分：</span>
                    <span class="pingfen-x1">4.5</span>
                    <span class="pingfen-x2">/5分</span>
                    <!--  <span class="pingfen-x3">大家都在说：</span>
                      <span class="pingyu-tit">服务热情（10）</span>
                      <span class="pingyu-tit">干净卫生（9）</span>
                      <span class="pingyu-tit">环境优雅（6）</span>
                      <span class="pingyu-tit">性价比高（3）</span>-->

                </div>


                <div class="jiudian-pinglun">
                    <div class="jiudian-pingluncont">
                        <span class="pingluncont1">全部</span>
                        <span class="pingluncont2">晒图评价</span>
                        <select class="pinglun-check"  name="">
                            <option value="0">默认排序</option>
                            <option value="1">好评</option>
                            <option value="2">差评</option>
                        </select>

                    </div>

                    <div class="jiudian-pinglunPeople clearfix">
                        <div class="jidian-pinglunImg ">
                            <img src="../img/userheader.jpg" alt=""/>
                            <p>00001</p>
                        </div>

                        <div class="jidian-pinglunright ">
                            <div class="pinglunright-time">
                                <img src="../img/star1.jpg" alt="五星好评"/>
                                <span>2017-7-8</span>
                            </div>
                            <div class="pinglunright-word">
                                <p>
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                </p>
                            </div>
                            <div class="huifu">
                                <span>商家回复:</span>
                                <span>感谢您的支持，我们会更加努力哒</span>
                            </div>



                        </div>


                    </div>

                    <div class="jiudian-pinglunPeople clearfix">
                        <div class="jidian-pinglunImg ">
                            <img src="../img/userheader.jpg" alt=""/>
                            <p>00001</p>
                        </div>

                        <div class="jidian-pinglunright ">
                            <div class="pinglunright-time">
                                <img src="../img/star1.jpg" alt="五星好评"/>
                                <span>2017-7-8</span>
                            </div>
                            <div class="pinglunright-word">
                                <p>
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                </p>
                            </div>
                            <div class="pinglunright-img">
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg2.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                                <img src="../img/jiudian-pinglunimg1.jpg" alt=""/>
                            </div>




                        </div>


                    </div>

                    <div class="jiudian-pinglunPeople clearfix">
                        <div class="jidian-pinglunImg ">
                            <img src="../img/userheader.jpg" alt=""/>
                            <p>00001</p>
                        </div>

                        <div class="jidian-pinglunright ">
                            <div class="pinglunright-time">
                                <img src="../img/star1.jpg" alt="五星好评"/>
                                <span>2017-7-8</span>
                            </div>
                            <div class="pinglunright-word">
                                <p>
                                    老板服务态度很好，很热情。酒店很卫生。性价比很高。风景如画；美美哒。
                                </p>
                            </div>



                        </div>


                    </div>




                </div>
            </div>
        </div>


    </div>

</section>




<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <a href="#" class="footer-tab" id="tab1"> <span class="footer-tab-sp footer-im1  shows1"></span>景区</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab2"> <span class="footer-tab-sp footer-im2  shows2"></span>酒店</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab3"> <span class="footer-tab-sp footer-im3  shows3"></span>特产</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab4"> <span class="footer-tab-sp footer-im4  shows4"></span>美食</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab5"> <span class="footer-tab-sp footer-im5  shows5"></span>票务</a>
        </div>
        <div class="footer-t">
            <div class="footer-con wrap">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd>

                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="#">如何注册</a></dd>
                    <dd><a href="#">免费注册</a></dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="#">了解吉首</a></dd>
                    <dd><a href="#">走进吉首</a></dd>
                    <dd><a href="#">吉首故事</a></dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd><a href="#">微信公众号</a></dd>
                    <dd><a href="#">论坛</a></dd>
                    <dd><a href="#">官方微博</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#">机票预订</a></dd>
                    <dd><a href="#">车票预订</a></dd>
                    <dd><a href="#">酒店门票</a></dd>
                </dl>

                <div class="lines"></div>
                <div class="erweima">
                    <span class="tel">400-888-8888</span>
                    <span class="time">周一至周五8:00-18:00</span>
                    <span class="kefu">24小时在线客服</span>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <p class="wrap">版权所有 2006 - 2018 深圳赛为智能有限公司   京ICP备08001421号京公网安备110108007702</p>
        </div>
    </div>
</footer>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $('.circle').each(function (index, el) {
                var num = $(this).find('span').text() * 3.6;
                console.log(num);
                if (num <= 180) {
                    $(this).find('.right').css('transform', "rotate(" + num + "deg)");
                } else {
                    $(this).find('.right').css('transform', "rotate(180deg)");
                    $(this).find('.left').css('transform', "rotate(" + (num - 180) + "deg)");
                }
                ;
            });
        });

        var ddd = new Date();
        var day =ddd.getDate();
        var day1=ddd.getDate()+1;
        if(ddd.getMonth()<10){
            var month = "0"+(ddd.getMonth()+1);
        }

        if(ddd.getDate()<10){
            day = "0"+ddd.getDate();
        }
        if(day1<10){
            day1 = "0"+day1;
        }
        var datew = ddd.getFullYear()+"-"+month+"-"+day;
        var dateend= ddd.getFullYear()+"-"+month+"-"+day1;
        var datew = datew.toString();
        var dateend=dateend.toString();
        $("#startDate").val(datew);
        $("#endDate").val(dateend);
    })

</script>

</body>
</html>