<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>订单信息</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/jingqu-3dingdan.css"/>
    <link rel="stylesheet" href="../css/address.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--头部-->
<header id="header">

    <div class="container">
        <div class="row">
            <div class="col-md-4 ">吉首电子商务欢迎您</div>
            <div class="col-md-3 ">客服电话:400888888</div>
            <div class="col-md-5 ">
                <a href="cart.html " class="btn btn-link">购物车</a>
                <a href="#">欢迎：18575699888</a>
                <a href="zhanghu-1.html " class="btn btn-link">个人中心</a>
                <a href="" class="btn btn-link">退出</a>
            </div>
        </div>

    </div>
</header>
<!--头部区域-->

<!--头部轮播图-->
<section class="nav-base">
    <!--导航栏-->
    <nav id="navs" class="clearfix">
        <div class="container">
            <a href="../index.html"><img src="../img/logo.jpg" alt=""/></a>
            <span>结算页</span>
            <ul class="money-nav">
                <li class="money-nav1">1、确认订单信息</li>
                <li class="money-nav2">2、在线支付</li>
                <li class="money-nav3">3、支付成功</li>
            </ul>
        </div>
    </nav>
</section>

<!--预订登录-->

<section class="denglu container">
    <div class="denglu-box"></div>
    <div class="denglu-content">
        <img src="../img/4dingdan3.jpg" alt="denger"/>
        <span>您还没有登录，登录后购物车的商品将保存在你的账户中</span>
        <a href="denglu.html" type="button" class="btn btn-danger">立即登录</a>
    </div>
</section>
<!--订单信息-->

<section class="techan-dingdan container">
    <div class="address">
        <h4 class="address-ok">确认收获地址</h4>
        <div class="address1">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span > 收获地址：邢闻道，1888888888，深圳市南山区软件园一期二栋3楼赛为智能，518000</span>
           <!-- <a href="#">修改地址</a>-->
            <button class="modify dingdan-modify" data-toggle="modal" data-target="#myModal">修改地址</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">修改地址</h4>
                        </div>
                        <div class="modal-body">

                            <div class="address02">
                                <h5 class="add-address">新增收货地址</h5>

                                <form class="form-inline">
                                    <label class="control-label">所在地区<span>*</span></label>
                                    <div data-toggle="distpicker" class="Provincecity">
                                        <div class="form-group">
                                            <label class="sr-only" for="province1">Province</label>
                                            <select class="form-control" id="province1"></select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="city1">City</label>
                                            <select class="form-control" id="city1"></select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="district1">District</label>
                                            <select class="form-control" id="district1"></select>
                                        </div>
                                    </div>
                                    <div class="form-group form-block clearfix">
                                        <label for="exampleInputaddres" class="col-sm-1 control-label">详细地址<span>*</span></label>
                                        <div class="col-sm-6">
                                            <textarea name="Inputaddres" class="form-control" id="exampleInputaddres" cols="30" rows="10" placeholder="建议填写详细地址，例如街道名称、门牌号、楼层和房间号" ></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group form-block clearfix">
                                        <label for="exampleInputName2" class="col-sm-1 control-label">邮政编码<span>*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="exampleInputName2" placeholder="如不清楚，请填写000000">
                                        </div>
                                    </div>
                                    <div class="form-group form-block clearfix">
                                        <label for="exampleInputName3" class="col-sm-1 control-label" >收货人姓名<span>*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="exampleInputName3" placeholder="长度不超过25个字符">
                                        </div>
                                    </div>
                                    <div class="form-group form-block clearfix">
                                        <label for="exampleInputphone" class="col-sm-1 control-label" >手机号<span>*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="exampleInputphone" placeholder="电话号、手机号必填一项">
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">提交更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>

    <div class="dingdian-cont">
        <h4>确认订单信息</h4>

        <div class="dingdan-shop clearfix">
            <p class="dingdan-shoptitle">店铺：猕猴桃专卖店</p>
            <div class="dingdan-shopcont">
                <ul class="dingdan-shopcont1">
                    <li class="shop-tit1">商品</li>
                    <li class="shop-tit2">单价</li>
                    <li class="shop-tit3">数量</li>
                    <li class="shop-tit4">运输方式</li>
                    <li class="shop-tit5">小计</li>
                </ul>
                <ul class="dingdan-shopcont2">
                    <li class="shop-tit1">
                        <img class="shop-tit1-1" src="../img/techan-shop01.jpg" alt="特产图片"/>
                        <p class="shop-tit1-2" >
                            野生猕猴桃，吉首猕猴桃，吉首特产猕猴桃
                        </p>

                    </li>
                    <li class="shop-tit2">¥188.00</li>
                    <li class="shop-tit3">2</li>
                    <li class="shop-tit4">快递¥10</li>
                    <li class="shop-tit5">
                        <p>¥376.00</p>
                    </li>
                </ul>


            </div>






        </div>
        <div class="dingdan-shop clearfix">
            <p class="dingdan-shoptitle">店铺：猕猴桃专卖店</p>
            <div class="dingdan-shopcont">
                <ul class="dingdan-shopcont1">
                    <li class="shop-tit1">商品</li>
                    <li class="shop-tit2">单价</li>
                    <li class="shop-tit3">数量</li>
                    <li class="shop-tit4">运输方式</li>
                    <li class="shop-tit5">小计</li>
                </ul>
                <ul class="dingdan-shopcont2">
                    <li class="shop-tit1">
                        <img class="shop-tit1-1" src="../img/techan-shop01.jpg" alt="特产图片"/>
                        <p class="shop-tit1-2" >
                            野生猕猴桃，吉首猕猴桃，吉首特产猕猴桃
                        </p>





                    </li>
                    <li class="shop-tit2">¥188.00</li>
                    <li class="shop-tit3">2</li>
                    <li class="shop-tit4">快递¥10</li>
                    <li class="shop-tit5">
                        <p>¥376.00</p>
                    </li>
                </ul>


            </div>






        </div>

    </div>

    <div class="shop-buy">
        <div class="realymoney1">
            <span class="realymoneytitle">实付款:</span>
            <span class="realymoney-nub">¥388.00</span>
        </div>
        <div class="realymoney2">
            <span class="realymoneytitle">寄送至：</span>
            <span>深圳市南山区软件园一期二栋赛为智能</span>
        </div>
        <div class="realymoney3">
            <span class="realymoneytitle">收货人：</span>
            <span>邢浩东：188888888</span>
        </div>
    </div>
    <div class="shop-button">
        <a href="jingqu-4zhifu.html">提交订单</a>
    </div>

</section>













<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <a href="#" class="footer-tab" id="tab1"> <span class="footer-tab-sp footer-im1  shows1"></span>景区</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab2"> <span class="footer-tab-sp footer-im2  shows2"></span>酒店</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab3"> <span class="footer-tab-sp footer-im3  shows3"></span>特产</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab5"> <span class="footer-tab-sp footer-im5  shows5"></span>预约导游</a>
            <div class="line"></div>
            <a href="#" class="footer-tab" id="tab4"> <span class="footer-tab-sp footer-im4  shows4"></span>美食</a>
        </div>
        <div class="footer-t">
            <div class="footer-con wrap">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd>

                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="#">如何注册</a></dd>
                    <dd><a href="#">免费注册</a></dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="#">了解吉首</a></dd>
                    <dd><a href="#">走进吉首</a></dd>
                    <dd><a href="#">吉首故事</a></dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd><a href="#">微信公众号</a></dd>
                    <dd><a href="#">官方微博</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#">机票预订</a></dd>
                    <dd><a href="#">火车票预订</a></dd>
                </dl>

                <div class="lines"></div>
                <div class="erweima">
                    <span class="tel">400-888-8888</span>
                    <span class="time">周一至周五8:00-18:00</span>
                    <span class="kefu">在线客服</span>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <p class="wrap">版权所有 2006 - 2018 深圳赛为智能股份有限公司   京ICP备08001421号京公网安备110108007702</p>
        </div>
    </div>
</footer>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
</body>
</html>