<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>商品入库</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhanghu-1.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="seller_shangpin" >
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active"id="home">
            <div class="shangpin-addcont shangpin-addcontx ">
                <div class="addcont-title">
                    <span class="addcont-title1">商品编号</span>
                    <span class="addcont-title2">商品名称</span>
                    <span class="addcont-title3">价格（元）</span>
                    <span class="addcont-title4">单位</span>
                    <span class="addcont-title5">商品分类</span>
                    <span class="addcont-title6">显示顺序</span>
                    <span class="addcont-title7x">商品数量</span>
                </div>
                <div class="addcont-cont" id="chang">
                    <div class="addcont-contline">
                        <span class="addcont-cont1">1000001</span>
                        <span class="addcont-cont2">米酒hhh</span>
                        <span class="addcont-cont3">288.00</span>
                        <span class="addcont-cont4">个</span>
                        <span class="addcont-cont5">特产、饮料</span>
                        <span class="addcont-cont6">1</span>
                        <input type="text" class="addcont-cont7x" id="addcont-cont7x" disabled="false" value="1"/>
                        <button class="addcont-cont8" id="addcont-cont8">编辑</button>
                    </div>

                    <div class="addcont-contline">
                        <span class="addcont-cont1">1000001</span>
                        <span class="addcont-cont2">米酒hhh</span>
                        <span class="addcont-cont3">288.00</span>
                        <span class="addcont-cont4">个</span>
                        <span class="addcont-cont5">特产、饮料</span>
                        <span class="addcont-cont6">1</span>
                        <input type="text" class="addcont-cont7x" id="addcont-cont7x" disabled="false" value="1"/>
                        <button class="addcont-cont8" id="addcont-cont8">编辑</button>
                    </div>

                    <div class="addcont-contline">
                        <span class="addcont-cont1">1000001</span>
                        <span class="addcont-cont2">米酒hhh</span>
                        <span class="addcont-cont3">288.00</span>
                        <span class="addcont-cont4">个</span>
                        <span class="addcont-cont5">特产、饮料</span>
                        <span class="addcont-cont6">1</span>
                        <input type="text" class="addcont-cont7x" id="addcont-cont7x" disabled="false" value="1"/>
                        <button class="addcont-cont8" id="addcont-cont8">编辑</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/main.js"></script>
<script>
    /*编辑按钮*/
    $(".addcont-cont8").click(function(){
        $('.addcont-cont7x').removeAttr("disabled");
        $(".addcont-cont7x").addClass("addcont-cont7click");
    });

</script>
</body>
</html>