<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>收获地址</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhanghu-1.css"/>
    <link rel="stylesheet" href="../css/address.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="address" id="address">
    <h4 class="address01">收货地址</h4>

    <div class="address02">
        <h5 class="add-address">新增收货地址</h5>

        <form class="form-inline">
            <label class="control-label">所在地区<span>*</span></label>
            <div data-toggle="distpicker" class="Provincecity">
                <div class="form-group">
                    <label class="sr-only" for="province1">Province</label>
                    <select class="form-control" id="province1"></select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="city1">City</label>
                    <select class="form-control" id="city1"></select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="district1">District</label>
                    <select class="form-control" id="district1"></select>
                </div>
            </div>
            <div class="form-group form-block clearfix">
                <label for="exampleInputaddres" class="col-sm-1 control-label">详细地址<span>*</span></label>
                <div class="col-sm-6">
                    <textarea name="Inputaddres" class="form-control" id="exampleInputaddres" cols="30" rows="10" placeholder="建议填写详细地址，例如街道名称、门牌号、楼层和房间号" ></textarea>
                </div>
            </div>

            <div class="form-group form-block clearfix">
                <label for="exampleInputName2" class="col-sm-1 control-label">邮政编码<span>*</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="如不清楚，请填写000000">
                </div>
            </div>
            <div class="form-group form-block clearfix">
                <label for="exampleInputName3" class="col-sm-1 control-label" >收货人姓名<span>*</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="exampleInputName3" placeholder="长度不超过25个字符">
                </div>
            </div>
            <div class="form-group form-block clearfix">
                <label for="exampleInputphone" class="col-sm-1 control-label" >手机号<span>*</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="exampleInputphone" placeholder="电话号、手机号必填一项">
                </div>
            </div>

            <div class="form-group form-block clearfix">
                <label  class="col-sm-1 control-label" ></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-default">保存</button>
                </div>
            </div>

        </form>
    </div>

    <div class="address03">

        <table class="table">
            <thead>
            <tr>
                <th class="address-1">收货人</th>
                <th class="address-2">所在地区</th>
                <th class="address-3">详细地址</th>
                <th class="address-4">邮编</th>
                <th class="address-5">电话/手机</th>
                <th class="address-6">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td>徐婉雪</td>
                <td>广东省深圳市宝安区石岩街道</td>
                <td>平洲地铁站麻布新村三巷二栋110室</td>
                <td>518000</td>
                <td>18575696952</td>
                <td>
                    <!--<a href="#">修改</a>-->
                    <button class="modify" data-toggle="modal" data-target="#myModal">修改</button>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">修改地址</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="address02">
                                        <h5 class="add-address">新增收货地址</h5>

                                        <form class="form-inline">
                                            <label class="control-label">所在地区<span>*</span></label>
                                            <div data-toggle="distpicker" class="Provincecity">
                                                <div class="form-group">
                                                    <label class="sr-only" for="province1">Province</label>
                                                    <select class="form-control" id="province1"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="city1">City</label>
                                                    <select class="form-control" id="city1"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="district1">District</label>
                                                    <select class="form-control" id="district1"></select>
                                                </div>
                                            </div>
                                            <div class="form-group form-block clearfix">
                                                <label for="exampleInputaddres" class="col-sm-1 control-label">详细地址<span>*</span></label>
                                                <div class="col-sm-6">
                                                    <textarea name="Inputaddres" class="form-control" id="exampleInputaddres" cols="30" rows="10" placeholder="建议填写详细地址，例如街道名称、门牌号、楼层和房间号" ></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group form-block clearfix">
                                                <label for="exampleInputName2" class="col-sm-1 control-label">邮政编码<span>*</span></label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="如不清楚，请填写000000">
                                                </div>
                                            </div>
                                            <div class="form-group form-block clearfix">
                                                <label for="exampleInputName3" class="col-sm-1 control-label" >收货人姓名<span>*</span></label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="exampleInputName3" placeholder="长度不超过25个字符">
                                                </div>
                                            </div>
                                            <div class="form-group form-block clearfix">
                                                <label for="exampleInputphone" class="col-sm-1 control-label" >手机号<span>*</span></label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="exampleInputphone" placeholder="电话号、手机号必填一项">
                                                </div>
                                            </div>

                                        </form>
                                    </div>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary">提交更改</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <a href="#">删除</a>
                </td>
            </tr>
            <tr>
                <td>徐婉雪</td>
                <td>广东省深圳市宝安区石岩街道</td>
                <td>平洲地铁站麻布新村三巷二栋110室</td>
                <td>518000</td>
                <td>18575696952</td>
                <td><a href="#">修改</a> <a href="#">删除</a></td>
            </tr>
            </tbody>
        </table>



    </div>







</div>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/distpicker.data.js"></script>
<script src="../js/distpicker.js"></script>
</body>
</html>