<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhanghu-1.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->

    <title>资产-余额</title>
</head>
<body>

<div role="tabpanel" class="tab-pane" id="money">
    <div class="money-cont">
        <div class="money-top">
            <h4>我的钱包</h4>
            <div class="money-home">
                <span class="money-name">账户：</span>
                <span class="money-nub">8888888888888</span>
                <span class="money-an">安全等级：</span>
                <span>一般</span>
            </div>
        </div>
        <div class="money-news">
            <div class="money-left">
                <div class="money-left1">
                    <h4>现金余额</h4>
                    <span class="money-big">188.</span>
                    <span class="money-som" >00</span>
                    <span >元</span>
                </div>
                <div class="money-left2">不可用余额：110.00</div>
                <div class="money-left3">
                    <a href="#">充值</a>
                    <a href="#">提现</a>
                </div>
            </div>
            <div class="money-right">
                <h4>我的银行卡</h4>
                <span class="yinhang-1">0</span>
                <span>张</span>
            </div>
        </div>
    </div>
</div>

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/main.js"></script>
<script src="../js/cropbox.js"></script>
</body>
</html>